.rolePageConatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: inherit;
}
.rolePageConatiner button {
    margin-top: 1rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 8px;
    background: #456ff6;
    color: #fff;
}

.buttonWidth {
    width: min(400px, 90vw);
}
.rolePageCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    z-index: 10;
    cursor: pointer;
}
.rolePageCards .rolePageCard {
    width: 215px;
    height: 100px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 17.65823px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
}

.cardSmall .rolePageCard {
    height: auto;
    flex-direction: row;
}
.rolePageCards .rolePageCard:hover {
    border: 1.177px solid #456ff6;
    transition: 1s ease;
}

.rolePageCards .active {
    border: 2px solid #456ff6;
}

.rolePageCard div {
    display: flex;
}

@media (width<500px) {
    .rolePageConatiner button {
        margin-bottom: 5rem;
    }
    .rolePageCards {
        grid-template-columns: 1fr;
        margin-top: 1.5rem;
    }
    .rolePageCards .rolePageCard {
        width: 300px;
    }
}

@media (width<300px) {
    .rolePageCards .rolePageCard {
        width: 200px;
        font-size: 0.65rem;
    }
}
