/* styles.css */

.landingContainer {
  font-family: Arial, sans-serif;
  /* padding: 1rem 12rem; */
  padding: 1rem 0rem;
  text-align: center;
  text-wrap: balanced;
}

.landingPaddingContainerTextCenter {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.landingPaddingContainerTextCenter h1 {
  font-size: 3rem;
  text-align: left;
  max-width: 35rem;
  font-weight: 800;
  line-height: normal;
}

.landingPaddingContainerCustom {
  padding-top: 8rem !important;
  /* background: #f1f2f7; */
  background: linear-gradient(#ffff 0%, #f1f2f7 30%,  #dce0f4 100%);
}

.landingPaddingContainer {
  padding: 0rem 12rem;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 0;
}

.joinCommunity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 0.9rem;
  font-weight: 600;
}

.navLinks li {
  transition: all 0.25s linear;
}

.navLinks li:hover {
  transform: scale(1.05);
  color: black;
}

.navButtons button {
  margin-left: 10px;
}

.hero-section {
  margin-top: 20px;
}

.highlight {
  color: #007bff;
  font-weight: bold;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0px;
  margin-top: 50px;
}

.featureCard {
  padding: 15px;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuresGrid .featureCard:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.featuresGrid .featureCard:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.joinBtn,
.loginBtn {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 0.9rem;
}


.joinBtn:hover,
.loginBtn:hover {
  background-color: #005ec3;
  transition: all 0.3s ease;

}

.downloadBtn:hover {
  background-color: #e6e3e3;
  transition: all 0.3s ease;

}

.heroSection {
  display: flex;
  flex-direction: column;
  /* padding: 8rem 0rem; */
  align-items: center;
}

.heroSection h1 {
  margin-top: 50px;
}

.heroSection h1 span {
  color: #007bff;
  font-weight: bold;
}

.heroLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding-right: 0;
}

.heroLeft h1 {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  max-width: 700px;
}

.heroLeft p {
  font-size: 1rem;
  font-weight: 500;
  color: gray;
  text-align: center;
  max-width: 28rem;
}

.heroImage img {
  width: 100%;
  max-width: 100vw;
  height: auto;
  margin-top: 2rem;
}

.highlightPoints {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
}

.highlightPoints li {
  text-align: left;
}

.higlightPointItems {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.higlightPointItems div {
  margin-right: 0.5rem;
  background-color: #e2e2e3;
  border-radius: 50%;
  padding: 5px;
}

.higlightPointItems p {
  font-size: 0.95rem;
  font-weight: 500;
  max-width: 15rem;
}

.downloadBtn {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 0.9rem;
}

.heroDescription {
  font-weight: 400;
  max-width: 800px;
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}

.ctaButtons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.ctaButtons button {
  margin-top: 1rem;
}

.featureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 3rem 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
} */

.featureCard h3 {
  font-size: 1.1rem;
  font-weight: 800;
  text-align: center;
}

.featureCard p {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

.mulearnTopPad{
  padding-top: 3rem;
}

.leftRightGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  gap: 20px;
  padding: 3rem 0rem;
}

.leftRightGridCustom {
  grid-template-columns: 50% 50%;
}

.iframeContainer iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.storyTitle h1 {
  font-size: 3rem;
  text-align: left;
  max-width: 35rem;
  font-weight: 800;
  line-height: normal;
}

.hackathonBox {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin-top: 20px;
}

.storyTitle h6 {
  font-weight: 400;
  margin-bottom: 4rem;
  max-width: 800px;
  text-align: left;
  font-size: 1.2rem;
  color: #666;
  margin: 16px 0px;
  margin-bottom: 32px;
}

.topBottomGrid {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 6rem 0rem;
  align-items: center;
}

.roadMaps {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.roadMaps h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  line-height: normal;
}

.roadMaps p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 16px;
  text-align: center;
}

.specialEventsSection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-top: 3rem;
  align-items: center;
}

.specialEventsSection .specialEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialEventsSection .specialEvents h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.specialEventsSection .specialEvents h6 {
  font-weight: 400;
  margin-bottom: 4rem;
  max-width: 800px;
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.specialEventsSection .specialEvents .specialEventsCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

@media (max-width: 768px) {
  .specialEventsSection .specialEvents .specialEventsCards {
    flex-direction: column;
    gap: 2rem;
  }
}

.comparisonGridSection {
  padding-bottom: 0px;
}

.camparison {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camparison h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 4rem;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
    0px 0px 10px 2px rgba(0, 255, 135, 0.3);
  animation: pulse 1s alternate infinite;
}

@keyframes pulse {
  0% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
      0px 0px 5px 2px rgba(0, 255, 135, 0.3);
  }

  100% {
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
      0px 0px 15px 2px rgba(0, 255, 135, 1);
  }
}

.camparison table tr td {
  padding: 2rem 1rem;
  text-align: center;
}

.camparison table th {
  padding-bottom: 1rem;
  border-bottom: 0.3px solid rgb(207, 205, 205);
  font-size: 1.2rem;
  text-align: center;
}

.comparisonTable th:nth-child(2),
.comparisonTable td:nth-child(2) {
  border-left: 0.3px solid rgb(207, 205, 205);
}

.comparisonTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

.camparison table tr th:nth-child(odd) {
  text-align: right;
  padding-right: 1rem;
}

.camparison table tr th:nth-child(even) {
  text-align: left;
  padding-left: 1rem;
}

.camparison table tr td:nth-child(odd) {
  text-align: right;
  padding-right: 2rem;
}

.camparison table tr td:nth-child(even) {
  text-align: left;
  padding-left: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  /* Increased padding for larger cards */
  background-color: #f7f7f7;
  /* border-right: 0.2px solid gray; */
  transition: background 0.5s ease, box-shadow 0.3s ease;
  cursor: pointer;
  min-height: 250px;
  /* Increased minimum height */
}

/* .cards:hover {
  background-color: #e2e2e3;
} */


.cards h6 {
  font-size: 1.6rem;
  /* Increased font size */
  margin-top: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.cards span img {
  width: 100%;
  max-width: 150px;
  /* Increased max width for images */
  height: auto;
}

.oppurtunitiesTitle h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.oppurtunitiesTitle h6 {
  font-weight: 400;
  margin-bottom: 4rem;
  max-width: 800px;
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.oppurtunities {
  display: grid;
  grid-template-columns: repeat(5, minmax(15rem, 2fr));
  margin-top: 1rem;
  gap: 2rem;
  /* Increased gap for better spacing */
  justify-content: center;
  border: none;
}

.oppurtunities span img {
  height: 100px;
}

.community h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: left;
  max-width: 40rem;
  margin-bottom: 22px;
  line-height: normal;
}

.community h6 {
  font-weight: 400;
  margin-bottom: 4rem;
  max-width: 800px;
  text-align: left;
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.community {
  display: flex;
  flex-direction: column;
  align-items: flex-cenr;
  justify-content: center;
  max-width: 40rem;
}

.community button {
  background-color: #007bff;
  padding: 1rem;
  color: white;
  margin-top: 1rem;
  border-radius: 10px;
  width: auto;
}

.impact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.impact h6 {
  font-weight: 400;
  margin-bottom: 4rem;
  max-width: 800px;
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.impact h1 {
  font-size: 3.2rem;
  text-align: left;
  font-weight: 800;
  line-height: normal;
  min-width: 400px;
}

.dataGrid {
  display: grid;
  padding: 2rem 10rem;
  grid-template-columns: repeat(4, minmax(15rem, 2fr));
  /* gap: 1.5rem; */
}

.dataCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-right: 1px solid #ccc;
  /* Only right and bottom borders */
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

/* Remove right border for last column */
.dataCard:nth-child(4n) {
  border-right: none;
}

/* Remove bottom border for last row */
.dataCard:nth-last-child(-n + 4) {
  border-bottom: none;
}

.dataCard h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.footer {
  background-color: #ffffff;
  color: rgb(29, 29, 29);
  padding: 40px 20px;
  margin-top: 5rem;
  border-top: 1px solid;
}

.footerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.footerSection h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin-bottom: 8px;
}

.footerSection ul li a {
  color: rgb(33, 33, 33);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerSection ul li a:hover {
  color: rgb(53, 53, 53);
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socialIcons a {
  font-size: 1.5rem;
  color: rgb(29, 29, 29);
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: #facc15;
}

.address p {
  margin: 5px 0;
}

/* Hamburger Menu for Mobile */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin: 25px;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #333;
  border-radius: 5px;
}

.mobileNavLinks {
  display: flex;
  list-style: none;
  transition: right 0.3s ease-in-out;
  padding: 0;
  margin: 0;
  right: 0;
}

/* Responsive Design */
@media (max-width: 1400px) {
  .landingContainer {
    padding: 1rem 0px;
  }

  .landingPaddingContainer {
    padding: 0rem 10rem;
  }

  .navLinks {
    font-size: 0.8rem;
  }

  .navButtons .loginBtn {
    font-size: 0.8rem;
  }

  .dataGrid {
    grid-template-columns: repeat(3, minmax(15rem, 2fr));
  }

  .dataCard,
  .dataCard:nth-child(4n),
  .dataCard:nth-last-child(-n + 4) {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .dataCard:nth-child(3n) {
    border-right: none;
  }

  .dataCard:nth-last-child(-n + 3) {
    border-bottom: none;
  }

  .dataGrid .dataCard h1 {
    font-size: 1.8rem;
  }

  .heroLeft h1 {
    font-size: 2.8rem;
  }

  .heroImage img {
    max-width: 450px;
  }

  .oppurtunities {
    grid-template-columns: repeat(3, minmax(20rem, 2fr));
  }
}

@media (max-width: 1150px) {
  .landingContainer {
    padding: 1rem 0rem;
  }

  .landingPaddingContainer {
    padding: 0rem 8rem;
  }

  .navLinks {
    font-size: 0.7rem;
  }

  .navButtons .loginBtn {
    font-size: 0.7rem;
    padding: 8px 15px;
  }

  .heroLeft h1 {
    font-size: 2.5rem;
  }

  .heroImage img {
    max-width: 400px;
  }

  .oppurtunities {
    grid-template-columns: repeat(3, minmax(15rem, 2fr));
  }

  .cards {
    padding: 2.5rem 1.5rem;
    min-height: 230px;
  }

  .cards h6 {
    font-size: 1.4rem;
  }

  .cards span img {
    max-width: 130px;
  }
}

@media (max-width: 1024px) {
  .hamburger {
    display: flex;
  }

  .navLinks {
    display: none;
    /* Hide desktop nav links on smaller screens */
  }

  .mobileNavLinks li {
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .mobileNavLinks li:hover {
    background-color: #f0f0f0;
    transform: translateX(10px);
  }

  .mobileNavLinks {
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    z-index: 1000;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    padding-top: 70px;
    right: -100%;
  }

  .mobileNavLinks.sh {
    right: 0;
  }

  .mobileNavLinks .closeBtn {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    z-index: 1001;
  }

  .landingContainer {
    padding: 1rem 0rem;
  }


  .landingPaddingContainer {
    padding: 0rem 5rem;
  }

  .navbar {
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
  }

  .logo {
    margin-right: auto;
  }

  .navButtons {
    margin-top: 0;
  }

  .landingPaddingContainerCustom {
    padding-top: 4rem !important;
  }

  .heroLeft h1 {
    font-size: 2rem;
  }

  .heroLeft p {
    font-size: 1rem;
  }

  .heroImage img {
    max-width: 300px;
  }

  .featuresGrid {
    grid-template-columns: 1fr 1fr;
  }

  .oppurtunities {
    grid-template-columns: 1fr;
    grid-template-columns: repeat(3, minmax(15rem, 1fr));

  }

  .cards {
    padding: 2rem 1rem;
    min-height: 200px;
  }

  .cards h6 {
    font-size: 1.2rem;
  }

  .cards span img {
    max-width: 110px;
  }
}

@media (max-width: 768px) {
  .landingContainer {
    padding: 1rem 0rem;
  }

  .landingPaddingContainer {
    padding: 0rem 2rem;
  }

  .heroLeft h1 {
    font-size: 1.8rem;
  }

  .heroLeft p {
    font-size: 0.8rem;
  }

  .heroImage img {
    max-width: 250px;
  }

  .featuresGrid {
    grid-template-columns: 1fr;
  }

  .leftRightGrid {
    grid-template-columns: 1fr;
  }

  .iframeContainer {
    height: auto;
  }

  .hackathonBox {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
  }

  .oppurtunities {
    gap: 1.5rem;
    grid-template-columns: repeat(1, minmax(25rem, 1fr));

  }

  .cards {
    padding: 1.5rem 1rem;
    min-height: 180px;
  }

  .cards h6 {
    font-size: 1.1rem;
  }

  .cards span img {
    height: auto;
    width: 170px;
    max-width: 170px;
  }

  .impact {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .impact h6 {
    margin-top: 0px;
  }

  .impact h1 {
    font-size: 2rem;
    text-align: center;
    min-width: auto;
  }

  .impact p {
    text-align: center;
  }

  .dataGrid {
    grid-template-columns: repeat(2, minmax(15rem, 2fr));
    padding: 1rem;
  }

  .dataCard,
  .dataCard:nth-child(3n),
  .dataCard:nth-last-child(-n + 3) {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .dataCard:nth-child(2n) {
    border-right: none;
  }

  .dataCard:nth-last-child(-n + 2) {
    border-bottom: none;
  }

  .dataCard h1 {
    font-size: 2rem;
  }

  .footerContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .socialIcons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .landingContainer {
    padding: 1rem 0rem;
  }


  .landingPaddingContainer {
    padding: 0rem 1rem;
  }

  .leftRightGrid {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .specialEventsSection .specialEvents h1 {
    font-size: 1.5rem;
  }

  .specialEventsSection .specialEvents h6 {
    font-size: 0.8rem;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navButtons {
    margin-top: 1rem;
    display: hidden;
    visibility: hidden;
  }

  .heroLeft h1 {
    font-size: 1.5rem;
    margin: 5vh 0;
  }

  .heroLeft p {
    font-size: 1rem;
  }

  .heroImage img {
    max-width: 100vw;
  }

  .ctaButtons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .ctaButtons button {
    width: 100%;
  }

  .featuresGrid {
    gap: 1rem;
  }

  .featureCard {
    padding: 1rem;
  }

  .featureCard h3 {
    font-size: 1rem;
  }

  .featureCard p {
    font-size: 0.7rem;
  }

  .hackathonBox {
    grid-template-columns: 1fr;
  }

  .storyTitle h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .landingPaddingContainerTextCenter h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .storyTitle p {
    font-size: 1rem;
  }

  .camparison h1 {
    font-size: 1.5rem;
  }

  .camparison table th {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .camparison table td {
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .oppurtunities {
    gap: 1rem;
  }

  .cards {
    padding: 1rem 0.5rem;
    min-height: 160px;
  }

  .cards h6 {
    font-size: 0.9rem;
  }

  .cards span img,
  .cards span {
    height: auto;
    width: 160px;
    max-width: 160px;
  }

  .impact h1 {
    font-size: 1.5rem;
  }

  .impact p {
    font-size: 0.7rem;
  }

  .dataGrid {
    grid-template-columns: repeat(2, minmax(10rem, 1fr));


    padding: 0;
  }

  .dataCard h1 {
    font-size: 1.5rem;
  }

  .dataCard p {
    font-size: 0.8rem;
  }

  .community h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .community h6 {
    font-size: 0.8rem;
    text-align: center;
  }

  .community button {
    width: 100%;
  }

  .footerSection ul li a {
    font-size: 0.9rem;
  }

  .socialIcons a {
    font-size: 1.2rem;
  }
}

.zeroTopPadding {
  padding-top: 0px;
}


.iframeContainer {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  /* Maintains aspect ratio for responsiveness */
  overflow: hidden;
  border: none;
  /* Remove default iframe border */
}

.iframeContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
  /* Ensure no border on the iframe itself */
}