.sources_countries {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 40px;

    .sources {
        width: calc(50% - 10px);
        box-shadow: 0px 6.619px 12.292px 0px rgba(77, 77, 77, 0.1);
        padding: 25px 20px;
        border-radius: 10px;
        max-height: 500px;
        overflow: scroll;

        & h1 {
            color: #4f4f4f;
            font-size: 20px;
            font-weight: 600;
        }

        .source_list {
            .rowsH {
                display: flex;
                justify-content: space-between;
                padding: 5px 0px;
                margin-bottom: -20px;

                .sourceH,
                .visitsH {
                    color: #777;
                    font-size: 15px;
                }
            }

            .rows {
                display: flex;
                justify-content: space-between;
                padding: 15px 0px;
                border-bottom: 1px solid rgba(106, 106, 106, 0.19);

                .source {
                    color: #000d7f;
                    font-size: 18px;
                    font-weight: 600;
                }

                .visits {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    & span {
                        border-radius: 10px;
                        background: #a9b2ff;
                        font-size: 10px;
                        font-weight: 600;
                        padding: 1px 5px;
                        color: #000e88;
                    }
                }
            }
        }
    }

    .countries {
        width: calc(50% - 10px);
        box-shadow: 0px 6.619px 12.292px 0px rgba(77, 77, 77, 0.1);
        padding: 25px 20px;
        border-radius: 10px;

        & h1 {
            color: #4f4f4f;
            font-size: 20px;
            font-weight: 600;
        }

        .source_list {
            .rowsH {
                display: flex;
                justify-content: space-between;
                padding: 5px 0px;
                margin-bottom: -20px;

                .sourceH,
                .visitsH {
                    color: #777;
                    font-size: 15px;
                }
            }

            .rows {
                display: flex;
                justify-content: space-between;
                padding: 15px 0px;
                border-bottom: 1px solid rgba(106, 106, 106, 0.19);

                .source {
                    color: #000d7f;
                    font-size: 18px;
                    font-weight: 600;
                }

                .visits {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    & span {
                        border-radius: 10px;
                        background: #a9b2ff;
                        font-size: 10px;
                        font-weight: 600;
                        padding: 1px 5px;
                        color: #000e88;
                    }
                }
            }
        }
    }
}

.screen_size {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .sources_countries {
        flex-direction: column;
        gap: 20px;

        .sources {
            width: 100%;
            /* flex-direction: column; */
        }

        .countries {
            width: 100%;
        }
    }
}
