* {
  padding: 0;
  margin: 0;
}

.first_view_container {
  margin: 2rem;
}

.fv_heading {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  color: #f7914c;
}

.fv_tagline {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.college_card {
  box-shadow: 1px 1px 45px -5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 1px 45px -5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 45px -5px rgba(0, 0, 0, 0.08);
  padding: 15px;
  border-radius: 10px;
  height: 100px;
  margin-top: 1rem;
}

.college_name {
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

.college_district {
  font-family: "Poppins";
}

@media only screen and (min-width: 1000px) {
  .first_view_container {
    max-width: 1000px;
    display: block;
    margin: auto;
    margin-top: 4rem;
  }

  .college_card {
    margin: 1rem;
  }

  .card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fv_heading {
    font-family: "Noto Sans", sans-serif;
    font-size: 3.25rem;
    line-height: 4.55rem;
    font-weight: 600;
    text-align: center;
  }

  .fv_tagline {
    font-size: 1.1rem;
    text-align: center;
  }
}
