.wrapper h1 {
  font-weight: bold;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  width: 20vw;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--Primary);
  border-radius: 5px;
  background-color: var(--White);
  color: black;
  cursor: pointer;
}

.card:hover {
  background-color: aliceblue;
}

@media screen and (max-width: 1300px) {
  .card {
    width: 30vw;
  }
}

@media screen and (max-width: 700px) {
  .wrapper h1 {
    font-size: 2rem;
  }
  .card {
    width: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 85vw;
  }
}