.container {
    background-color: #2e85fe;
    padding: 2rem;
}
.heading {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}
.submit {
    padding: 1em 2em;
    margin: 1em auto;
    background: #d8d8d8;
}
.submit:hover {
    background: #e5e5e5;
}
.submit:disabled {
    opacity: 0.5;
}
.error {
    color: red;
    font-size: 0.8rem;
    margin: 0.5em 0;
}
