.container {
    width: 100%;
    max-width: 40rem;
}
.heading {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}
.submit {
    background: #456ff6;
    color: #fff;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
}
.submit:hover {
    background: #456ff6bb;
}
.submit:disabled {
    opacity: 0.5;
}
.error {
    color: red;
    font-size: 0.8rem;
    margin: 0.5em 0;
}
.form {
    display: flex;
    height: 5rem;
    position: relative;
    width: 100%;
    margin-top: 1rem;
    isolation: isolate;
    border-radius: 1.6rem;
    background: #fff;
    box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.1);
}

.form > input[type="text"] {
    background-color: #fff;
    width: 100%;
    margin-top: 0;
    border: none;
    border-radius: 1.5rem;
}

@media screen and (max-width: 600px) {
    .form {
        max-width: 100%;
    }
    .heading {
        font-size: 1.5rem;
    }
}
