.navbar {
    background-color: #2e85fe;
    padding: 2rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
    background-color: #fff;
    padding: 1rem 2rem;
    gap: 5rem;
    border-radius: 1.2rem;
    position: absolute;
    top: 2rem;
    z-index: 2;
    perspective: 1000px;
}
.logos {
    display: flex;
    gap: 0.5rem;
}
.links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.links > a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    line-height: 1rem;
}
.links > a:hover {
    color: #2e85fe;
}
.mobile {
    display: none;
}

@media screen and (max-width: 860px) {
    .navbar {
        padding: 1rem;
    }
    .links {
        display: none;

        transform: rotateX(90deg);
        transform-origin: top;
        animation: show 0.5s ease forwards;
    }
    .mobile {
        display: grid;
        place-items: center;
        padding: 1rem;
        background-color: #68df83;
        border-radius: 50%;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 2;
        font-size: xx-large;
        color: #fff;
        cursor: pointer;
    }
    .active {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        background-color: #fff;
        position: absolute;
        width: calc(100vw - 2rem);
        padding: 5rem 1rem;
        top: 5rem;
        left: 0;
        font-size: large;
        transform: rotateX(90deg);
        transform-origin: top;
        animation: show 0.5s ease forwards;
    }
}

@keyframes show {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
