.joinCodeInput {
    width: 70%;
    margin: 10px;
    padding: 0.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-right: 1rem;
    color: #000;
}
.joinInfo {
    color: #515151;
    font-size: 1rem;
    margin-top: 0.5rem;
    display: block;
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;

    .backLink {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 0.5rem 1rem;
        width: fit-content;
        color: #5d5d5d;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
    }

    .card {
        background: white;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        margin-bottom: 1rem;

        .cardHeaderContent {
            padding: 1.5rem;
            display: grid;

            .headerSection {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex: 1;

                .title {
                    text-align: left;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: #3b82f6;
                    margin: 0;
                }

                .locationWrapper {
                    display: flex;
                    align-items: center;
                    text-align: left;
                    color: #4b5563;
                    margin-top: 0.5rem;

                    .iconWrapper {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }
                }
                .moreButton {
                    background: none;
                    border: none;
                    padding: 0.5rem;
                    cursor: pointer;
                    color: #6b7280;
                }
            }
        }
        .cardContent {
            display: grid;
            padding: 30px;
            grid-template-columns: 1fr 1fr;

            .descriptionSection {
                .sectionTitle {
                    font-size: 1.125rem;
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                    text-align: left;
                    color: #000;
                }

                .description {
                    color: #4b5563;
                    line-height: 1.5;
                    margin-bottom: 1.5rem;
                    width: 100%;
                    text-align: left;
                }
            }

            .buttonWrapper {
                display: flex;
                justify-content: start;

                &:nth-child(4) {
                    justify-content: end;
                }
            }

            .dateTime {
                margin-bottom: 1.5rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 10px;

                .date {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 0.25rem;
                }

                .time {
                    color: #4b5563;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        .card {
            .cardContent {
                grid-template-columns: 1fr;
            }
        }
    }
}
