.graph {
    width: 90%;
    min-height: 200px;
    position: relative;
    margin: 20px auto;
    overflow: scroll;

    .v_lines {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        flex-direction: row;
        gap: 80px;

        .v_line {
            width: 1px;
            height: 100%;
            background: #e0e0e0;
        }
    }

    .h_lines {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 60px;

        .h_line {
            width: 100%;
            height: 1px;
            background: #e0e0e0;
        }
    }

    .bars {
        /* width: 100%; */
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 80px;
        position: absolute;
        bottom: 0;
        align-items: flex-end;

        & div {
            height: 200px;
            display: flex;
            align-items: flex-end;

            .bar {
                width: 30px;
                max-height: 100%;
                background: rgb(108 123 255 / 100%);
                border-radius: 8px 8px 0px 0px;
                position: relative;

                .tool_tip {
                    font-size: 10px;
                    font-weight: 400;
                    position: absolute;
                    width: 100px;
                    top: -32px;
                    box-shadow: 0px 6.619px 12.292px 0px rgba(77, 77, 77, 0.1);
                    background: #e5e5e5ab;
                    backdrop-filter: blur(8px);
                    -webkit-backdrop-filter: blur(8px);
                    padding: 0px 5px;
                    border-radius: 2px;
                    display: none;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 20%;
                        bottom: -11px;
                        transform: translateX(-50%) rotate(360deg);
                        border-width: 6px;
                        border-style: solid;
                        border-color: transparent;
                        border-top-color: #ffffffab;
                    }
                }

                &:hover .tool_tip {
                    display: block;
                }
            }
        }
    }
}
