.CircularGraphWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.GraphSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planetWrapper {
    position: absolute;
}

.DataDisplayList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
