/*
! Learning Circle common css
*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Plus Jakarta Sans', sans-serif;
}



/*
* ******************************************************************************************

! Learning Circle Landing Page
*/
.learningCircleLandingPageContent {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% - 8rem);
	background: white;
	margin-left: 3rem;
	gap: 1rem;
	border-radius: 1rem;
	margin-top: 2.5rem;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.learningCircleLandingPageContent img {
	width: 40%;
	height: 90%;
}

.learningCircleLandingPageDesc {
	width: 55%;
	text-align: center;
}

.learningCircleLandingPageDesc h3 {
	font-size: 2rem;
	color: #456FF6;
	font-weight: bold;

}

.learningCircleLandingPageDesc p {
	margin-top: 1rem;
	font-size: .9rem;
	color: black;
}


.learningCircleLandingPageContent .learningCircleLandingPageButton {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.learningCircleLandingPageContent .learningCircleLandingPageButton {
	padding: 15px;
}

.learningCircleLandingPageMiddle {
	display: flex;
	flex-direction: column;
	width: 100%;
}

@media(width<800px) {
	.learningCircleLandingPageContent {
		flex-direction: column;
	}

	.learningCircleLandingPageDesc h3 {
		font-size: 1rem;
	}

	.learningCircleLandingPageDesc p {
		font-size: .7rem;
	}

	.learningCircleLandingPageAccordion {
		margin-top: 1rem;
	}

}

/*list*/
.learningCircleLandingPageAccordion {
	margin-top: 7rem;
	margin-left: 3rem;
	display: flex;
	flex-direction: column;
	width: calc(100% - 8rem);
	gap: 1rem;
	margin-bottom: 3rem;


}

.learningCircleLandingPageAccordion h2 {
	margin-bottom: 2rem;
	font-weight: bold;
	font-size: 1.5em;
	color: black;
}

.learningCircleLandingPageAccordion {
	height: 4rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;
	border-radius: .5rem;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.learningCircleLandingPageLevel {
	padding: 1rem 1.5rem 0rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.learningCircleLandingPageLevel div {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: .9rem;

}

.learningCircleLandingPageBtn {
	width: 3rem;
	height: 2rem;
	background: #456FF6;
	color: white;
	border-radius: 7px;
}

.learningCircleLandingPageExpandBtn {
	display: none;
}

.learningCircleLandingPageMainList .learningCircleLandingPageExpandBtn:checked+.learningCircleLandingPageLevel {
	height: 4rem;
	border-radius: 8px;
	background: #456FF6;
	color: white;
}

.fa-solid {
	font-weight: 900;
}

.fa-chevron-right:before {
	content: "\f054";
}

/* No learning circles case */
.learningCircleLandingPageMiddle {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.learningCircleLandingPageMiddle img {
	margin-top: 2rem;
	width: 50%;
	margin-right: 4rem;
}


/*
* ************************************************************************************************

! Learning Circle Main Page
*/
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 3rem;
	color: #000;
	font-weight: 600;
}

.content b {
	font-weight: 600;
}

.CreatedCircle {
	background-color: #F3F8FE;
	padding: 2.5rem;
	border-radius: 1rem;
	border: .5px solid #D2DCFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.CircleName,
.EventOn {
	text-align: left;
}

.CircleRank {
	text-align: center;
	display: flex;
	gap: 1rem;
	line-height: 2.5rem;
}

.CircleRank div h1 {
	font-size: 4rem;
}

.CreatedCircle h1,
.MeetingOn h1 {
	font-size: 3rem;
	font-weight: 600;
	color: #456FF6;
}

.CircleRank i,
.MeetingOn i {
	border-radius: .5rem;
	color: #fff;
	padding: .5rem;
	width: fit-content;
	height: fit-content;
	background-color: #456FF6;
}

/* bottom section with starting */

.BoxContent {
	display: flex;
	gap: 1rem;
}

.LeftBox {
	width: 100%;
}

.RightBox {
	width: 40%;
}

.EventOn,
.PendingApp {
	padding: 2.5rem;
	border-radius: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: .5rem;
}

.MeetingOn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: .8rem;
}

.MeetingBtn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.BtnBtn {
	padding: .5rem 2.5rem;
	border-radius: .5rem;
	border: none;
	color: #fff;
	background-color: #456FF6;
}

.BtnClr {
	padding: .5rem 2.5rem;
	border-radius: .5rem;
	border: none;
	color: #456FF6;
	background-color: #CCE2FF;
}

.PendingApp {
	margin-top: 1rem;
	height: 290px;
	overflow: hidden;
	overflow-y: scroll;
}

.PendingApp::-webkit-scrollbar,
.Members::-webkit-scrollbar {
	display: none;
}

.PendingTitle {
	font-size: 1.3rem;
}

.PendingList {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.PendingMembers {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.PendingMembers span {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.PendingMembers img,
.MemberName img {
	width: 3rem;
	height: 3rem;
	object-fit: contain;
	border-radius: 100%;
}

.PendingMembers .buttons {
	display: flex;
	gap: 1rem;
}

.Streak {
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.StreakCount {
	color: #456FF6;
	font-size: 1.8rem;
	font-weight: bold;
}

.Streak img {
	width: 8rem;
	height: 8rem;
}

.Streak div {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 5.5rem;
	background-color: #fff;
	text-align: center;
	font-size: .55rem;
	padding: .8rem;
	border-radius: 100%;
	line-height: 1.1rem;
}

.Members {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	padding: 2rem;
	margin-top: 1rem;
	height: 352px;
	overflow: hidden;
	overflow-y: scroll;
}

.MemberTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.MemberList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.MemberName {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.MemberName span {
	display: flex;
	gap: .5rem;
	align-items: center;
}

.MemberName span img {
	width: 1.3rem;
	height: 1.3rem;
}

@media(width<800px) {
	.content {
		padding: .5rem;
		font-size: .8rem;
		height: fit-content;
	}

	.CreatedCircle h1,
	.MeetingOn h1 {
		font-size: 2rem;
	}

	.CircleRank div h1 {
		font-size: 3rem;
	}

	.CircleRank {
		flex-direction: column-reverse;
		gap: .5rem;
		align-items: flex-end;
		width: 50%;
	}

	.CircleRank .points {
		font-size: .8rem;
		line-height: .5rem;
	}

	.BoxContent {
		flex-direction: column;
		gap: 1rem;
	}

	.RightBox {
		width: 100%;
	}

	.CreatedCircle {
		padding: 1.5rem;
	}

	.EventOn,
	.PendingApp {
		padding: 1.5rem;
	}

	.BtnBtn {
		padding: .5rem 1.5rem;
	}

	.buttons .BtnBtn,
	.BtnClr {
		padding: .5rem;
		font-size: .65rem;
	}

	.MemberName {
		gap: 2rem;
	}
}


/* css for the Meeting schedule*/

.ScheduleOn {
	text-align: center;
}

.ScheduleOn b {
	font-size: 1.5rem;
}

.ScheduleOn p {
	color: #456FF6;
}

.InputSchedule {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.InputSchedule div {
	display: flex;
	gap: 1rem;
}

.InputSchedule input {
	width: 100%;
	padding: .5rem 1rem;
	border-radius: .5rem;
	background-color: #F3F3F3;
	outline: none;
}

/*
* ************************************************************************************************

! Learning Circle Main Page
*/

.LearningCircleCreateContent {
    width: fit-content;
    padding: 3rem;
    margin: auto;
}

.LearningCircleCreateMain {
    margin-top: 2rem;
    padding: 3rem 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.LearningCircleCreateHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin: 2rem;
}

.LearningCircleCreateHeading b {
    font-size: 2.2rem;
    color: #000;
}

.LearningCircleCreateForm {
    display: flex;
    gap: 1rem;
}

.LearningCircleCreateForm input {
    width: 100%;
    padding: .5rem 1rem;
    text-align: center;
    background-color: #F3F3F4;
    color: #665C7A;
    border: none;
    border-radius: .5rem;
    outline: none;
}

.LearningCircleCreateMain button {
    padding: .5rem 2rem;
    background-color: #456FF6;
    color: #fff;
    border: none;
    border-radius: .5rem;
    outline: none;
    cursor: pointer;
}

@media(width<800px) {
    .LearningCircleCreateContent {
        padding: 1rem;
    }

    .LearningCircleCreateMain {
        flex-direction: column;
        padding: 1rem;
        margin-top: 5rem;
    }

    .LearningCircleCreateHeading {
        margin: .5rem;
    }

    .LearningCircleCreateHeading b {
        font-size: 1.5rem;
    }

}
