.analytics_header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    color: #000;
    text-align: left;

    .link_basics {
        & h1 {
            font-size: 35px;
            font-weight: 400;
            line-height: 41px;
        }

        & p {
            font-size: 14px;
            font-weight: 400;
        }

        .date {
            border-radius: 20px;
            background: #2A83FF;
            padding: 7px 10px;
            color: #fff;
            width: fit-content;
            margin-top: 10px;
        }

        & select {
            margin-top: 20px;
            border-radius: 10px;
            padding: 10px 15px;
            width: 210px;
            border: 1px solid #456FF6;
        }
    }

    .link_copy {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;

        & a {
            padding: 10px 25px;
            background: #fff;
            border-radius: 40px;
            width: 390px;
            color: #2A83FF;

        }
    }
}

.main_section_analytics {
    background: #fff;
    width: 95%;
    min-height: 100vh;
    border-radius: 20px;
    margin-top: 20px;
    padding: 40px 20px;
    color: #000;
    text-align: left;

    .clicks_visits {
        display: flex;
        width: 100%;
        gap: 20px;

        .clicks {
            flex: 8;
            box-shadow: 0px 6.619px 12.292px 0px rgba(77, 77, 77, 0.10);
            padding: 25px 20px;

            & h1 {
                color: #4F4F4F;
                font-size: 20px;
                font-weight: 600;

                & span {
                    font-size: 10px;
                    background: #D2FBE6;
                    color: #008E45;
                    padding: 3px 5px;
                    border-radius: 10px;
                }
            }

            & p {
                font-size: 30px;
                font-weight: 600;
            }

            .graph {
                width: 90%;
                min-height: 200px;
                position: relative;
                margin: 20px auto;

                .v_lines {
                    width: 100%;
                    height: 200px;
                    display: flex;
                    justify-content: flex-start;
                    position: absolute;
                    flex-direction: row;
                    gap: 80px;


                    .v_line {
                        width: 1px;
                        height: 100%;
                        background: #E0E0E0;
                    }
                }

                .h_lines {
                    width: 100%;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 60px;

                    .h_line {
                        width: 100%;
                        height: 1px;
                        background: #E0E0E0;
                    }
                }

                .bars {
                    width: 100%;
                    height: 200px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 80px;
                    position: absolute;
                    bottom: 0;
                    align-items: flex-end;

                    .bar {
                        width: 30px;
                        max-height: 100%;
                        background: rgb(108 123 255 / 100%);
                        border-radius: 8px 8px 0px 0px;
                    }
                }
            }
        }

        .visits {
            flex: 3;
            box-shadow: 0px 6.619px 12.292px 0px rgba(77, 77, 77, 0.10);
            padding: 25px 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            .progress {
                position: relative;
                margin: 4px;
                float: left;
                text-align: center;


                & p:nth-child(2) {
                    font-size: 30px;
                    font-weight: 600;
                    margin-top: -30px;
                    line-height: 30px;
                }

                & p:nth-child(3) {
                    font-size: 10px;
                    font-weight: 600;
                    color: #7A7A7A;
                }
            }

            .barOverflow {
                position: relative;
                overflow: hidden;
                width: 180px;
                height: 84px;
                margin-bottom: -14px;
            }

            .bar {
                position: absolute;
                top: 0;
                left: 0;
                width: 180px;
                height: 180px;
                border-radius: 50%;
                box-sizing: border-box;
                border: 9px solid #eee;
                border-bottom-color: #6C7BFF;
                border-right-color: #6C7BFF;
            }
        }
    }
}