.url_shortener_container {
    width: 95%;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid #E4E7FF; */
    border-radius: 12px;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07); */
    margin-bottom: 20px;
    color: black;
    background-color: #fff;

    .form_btns {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        /* width: 25%; */
        height: 65px;
    }

    .create_new_url {
        width: 100%;

        & form {
            display: flex;
            flex-direction: column;
            width: 100%;

            & input {
                background: #ffffff;
                border: 1px solid #CFD2D4;
                border-radius: 10px;
                padding: 10px;
                margin-top: 20px;

                &:focus {
                    border: 1px solid rgba(1, 75, 178, 0.9);
                }
            }

            .short_url_input_container {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .short_url_input_container_div {
                    width: 50%;

                    .short_url_input {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .short_url {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .error_message {
        color: red;
        font-size: 0.8rem;
        font-weight: 500;
        margin-top: 5px;
        text-align: left;
    }
}

@media screen and (max-width: 830px) {
    .url_shortener_container {
        padding: 20px 20px;

        .form_btns {
            width: 100%;
        }

        .create_new_url form .short_url_input_container {
            flex-direction: column;

            .short_url_input_container_div {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .url_shortener_container .create_new_url form .short_url_input_container .short_url_input .short_url {
        margin-left: 10px;
    }
}