.url_shortener_container {
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 20px;
    color: black;
    position: fixed;
    /* background-color: #fff; */
    backdrop-filter: blur(15px) contrast(100%);
    -webkit-backdrop-filter: blur(5px) contrast(100%);
    z-index: 20;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;

    .form_btns {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        /* width: 35%; */
        height: 65px;
    }

    .create_new_url {
        width: 100%;
        padding: 20px;
        margin: 10dvh auto auto;
        height: auto;
        max-width: 640px;
        background: white;
        border-radius: 10px;
        box-shadow: 1px 1px 20px 1px #8c8c8c47;
        position: relative;
        overflow-y: scroll;

        & form {
            display: flex;
            flex-direction: column;
            width: 100%;

            & input {
                background: #ffffff;
                border: 1px solid #CFD2D4;
                border-radius: 10px;
                padding: 10px;
                margin-top: 20px;

                &:focus {
                    border: 1px solid rgba(1, 75, 178, 0.9);
                }
            }

            .short_url_input_container {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                .short_url_input_container_div {
                    width: 50%;

                    .short_url_input {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .short_url {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .error_message {
        color: red;
        font-size: 0.8rem;
        font-weight: 500;
        margin-top: 5px;
        text-align: left;
    }
}

@media screen and (max-width: 830px) {
    .url_shortener_container {
        padding: 20px 20px;

        .form_btns {
            width: 100%;
        }

        .create_new_url form .short_url_input_container {
            flex-direction: column;

            .short_url_input_container_div {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .url_shortener_container .create_new_url form .short_url_input_container .short_url_input .short_url {
        margin-left: 10px;
    }
}