.edit_profile_container {
    position: fixed;
    backdrop-filter: blur(5px) contrast(100%);
    -webkit-backdrop-filter: blur(5px) contrast(100%);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
    display: flex;
    transition: .3s ease;
    transform: scale(0);
    flex-direction: column;
    align-items: center;

    .edit_profile {
        margin: 10dvh auto auto;
        height: auto;
        max-width: 640px;
        background: white;
        border-radius: 10px;
        box-shadow: 1px 1px 20px 1px #8c8c8c47;
        position: relative;
        overflow-y: scroll;

        .edit_profile_contents {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            color: #000;

            & form {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: space-between;

                .input_field {
                    width: 48%;
                }

                & input:focus {
                    outline: 1px solid #2684ff;
                }
            }

            & button {
                width: 100%;
                padding: 16px;
                background: #F3F3F4;
                border-radius: 10px;
            }

            .error_message {
                color: red;
                font-size: 0.8rem;
                font-weight: 500;
                margin-top: 5px;
                text-align: left;
            }
        }
    }
}


@media (max-width: 768px) {
    .edit_profile_container {
        z-index: 49;

        .edit_profile {
            margin: 65px auto auto;
            height: 100dvh;

            .edit_profile_contents {
                & form {
                    .input_field {
                        width: 100%;
                    }
                }
            }
        }
    }
}