.text {
	font-size: 1.5rem;
	font-weight: bold;
}

.external_container {
	display: flex;
	align-items: center;
	min-height: 65vh;
	flex-direction: column;
	gap: 2rem;
}

.container {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	/* Add box shadow */
	padding: 20px;
	background-color: var(--White);
	border-radius: 10px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.text {
	margin-top: 0;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	color: var(--Error);
}

.textfield {
	flex-basis: 100%;
	margin-bottom: 10px;
}

@media (min-width: 1000px) {
	.inputContainer {
		width: 40rem !important;
	}
}

@media (min-width: 768px) {
	.inputContainer {
		/* flex-direction: row; */
		flex-wrap: wrap;
		width: 30rem;
	}

	.textfield {
		flex-basis: calc(50% - 5px);
	}
}

@media (max-width: 768px) {
	.btn_container {
		width: 100% !important;
	}

	.container {
		width: 85vw;
	}

	.inputContainer {
		width: 100%;
	}
}

.error {
	color: var(--Error);
}

.btn_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	margin-top: 10px;
	/* width: 50%; */
}

.btn_cancel,
.btn_submit {
	width: 49%;
	border-radius: 8px;
	padding: 10px;
	margin-top: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_cancel {
	background-color: var(--InputDefaultBackground);
	color: var(--Primary);
}

.btn_submit {
	background-color: var(--Primary);
	color: var(--White);
}

.btn_submit:hover {
	background-color: var(--Blue800);
}

.inputBox {
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
	padding: 8px;
	background-color: var(--White);
	/* width: 50%; */
}

.inputBox span {
	font-weight: bold;
	color: var(--Dark);
}

.inputBox input {
	border: none;
	width: 100%;
	color: var(--Dark);
	border-radius: 6px;
	background-color: var(--InputDefaultBackground);
	outline: none;
	box-sizing: border-box;
	padding: 10px;
}

@media (max-width: 768px) {
	.inputBox {
		width: 100%;
	}
}

.inputBox select {
	color: var(--Dark);
}

.InputSet {
	display: flex;
	flex-direction: column;
	/* width: 25rem; */
	height: fit-content;
	gap: .5rem;
	text-align: left;
}

.formLabel {
	/* line-height: 0rem; */
	text-align: left;
	font-size: 1.1rem;
	font-weight: 600;
	margin: 0;
	color: #000;
}

.InputSet input {
	padding: .7rem 1rem;
	border-radius: var(--borderRadius);
	/* width: 100%; */
	background-color: var(--White);
	/* min-width: 22rem; */
	/* max-width: 100%; */
	border: .1px solid #CFD3D4;
}

.reactSelect {
	padding-top: .7rem;
	border-radius: var(--borderRadius);
	width: 100%;
	font-weight: 500;
	color: var(--grey);
	background-color: var(--White) !important;
	/* min-width: 22rem; */
}

.InputSet textarea {
	padding: .7rem 1rem;
	margin-bottom: 0;
	border-radius: var(--borderRadius);
	width: 100%;
	/* min-width: 72vw; */
	/*need to change this to make it responsive */
	min-height: 10rem;
	border: .1px solid #CFD3D4;
}

.loader_container {
	position: fixed;
	width: 100vw;
	height: 100dvh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 200;
	transition: all 0.5s ease-in;
}

