.enablersHero{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.enablersHero  div{
    margin-left: 4rem;
}

.enablersHero  div p{
    color: #9765FF;
    font-family: inherit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    padding-bottom: 2rem;
}
.enablersHero  div p span{
    background: url("../../assests/Dash.webp") no-repeat;
    background-position: 0 50px;
}
.enablersHero  div button{
    border-radius: 10px;
    background: #FF7D40;
    padding: 20px 30px;
    color: #fff;
}