.darkBG {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    backdrop-filter: blur(1px);
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    padding: 30px 15px 15px;

    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.checkbtn {
    display: flex;
    gap: 8px;
    padding: 10px;
    align-items: center;
    border-radius: 28px;
    border: 8px solid #e8fcef;
    background: var(--success-100, #d1fadf);
}
.checkbtndelete{
     display: flex;
    gap: 8px;
    padding: 10px;
    align-items: center;
    border-radius: 28px;
    border: 8px solid #f1cdcd;
    background: var(--success-100, #f6afaf);
}
.checkbtndelete>svg{
    border-radius: 50%;
}
.heading {
    margin: 0;
    padding: 10px 0px 0px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: black;
    text-align: center;
}

.modalActions {
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 21px;
    color: var(--blue);
    /* background: white; */
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: 8px;
    margin-right: 5px;
}

.closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(51, 55, 56, 0.04);
    transform: translate(-1px, 1px);
    color: red;
}

.deleteBtn {
	width: 100%;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: var(--blue);
    transition: all 0.25s ease;
}

.deleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(62, 165, 255, 0.6);
    transform: translateY(-5px);
    background: var(--blue);
}

.cancelBtn {
	width: 100%;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: var(--blue);
    background: #fcfcfc;
    transition: all 0.25s ease;
	background-color: #E4E7EC;

}

.cancelBtn:hover {
    box-shadow: none;
    transform: none;
	 box-shadow: 0 5px 15px -10px rgba(208, 92, 92, 0.6);
    transform: translateY(-3px);
    /* background: whitesmoke; */
}
