* {
  padding: 0;
  margin: 0;
}

.first_view_container {
  padding: 2rem;
  background-color: #ececee;
  opacity: 1;
  background-size: 36px 36px;
  background-image: repeating-linear-gradient(
    0deg,
    #e8e8e8,
    #e8e8e8 1.8px,
    #ececee 1.8px,
    #ececee
  );
}

.fv_img {
  width: 18rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.fv_texts {
  text-align: center;
}

.fv_heading {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #303030;
}

.fv_heading span {
  font-weight: 600;
  color: #f78c40;
}

.fv_tagline {
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 1000px) {
  .first_view_container {
    padding: 6rem;
  }

  .first_view {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .fv_img {
    display: block;
    margin: auto;
    width: 25rem;
  }

  .fv_texts {
    text-align: left;
    width: 50%;
  }

  .fv_heading {
    font-family: "Noto Sans", sans-serif;
    font-size: 4.55rem;
    line-height: 5rem;
    font-weight: 600;
  }

  .fv_tagline {
    margin-top: 2rem;
    font-size: 1.1rem;
    width: 90%;
  }
}

/* Second Section Styles */

.second_view_container {
  padding: 2rem;
  background-color: #fff;
}

.sv_category_container {
  display: grid;
  grid-template-columns: 45% 45%;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.category_box {
  padding: 0.2rem 1rem;
  font-size: 1rem;
  font-weight: 300;
  background-color: #f78c40;
  color: white;
  border-radius: 5px;
}

.sv_heading {
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #303030;
  margin-bottom: 0.25rem;
}

.sv_heading span {
  color: #f78c40;
}

.sv_tagline {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 1000px) {
  .second_view_container {
    padding: 2rem 6rem;
  }

  .second_view {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .sv_category_container {
    display: flex;
  }

  .category_box {
    margin-right: 0.5rem;
  }

  .sv_tagline {
    font-size: 1rem;
    width: 60%;
    margin-top: 0.75rem;
  }
}
