@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #404d61;
}

.onboarding_page .form_container h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.onboarding_page {
  padding: 60px;
  background-color: #e8f3f7;
}

.form_container {
  margin: auto;
  background: #ffffff;
  border: 1px solid #dde2e5;
  border-radius: 15px;
  min-height: 90vh;
  max-width: 1000px;
  padding: 50px;
}

form {
  margin: 10px 0px;
}

form label {
  font-weight: 600;
}

form input,
form select {
  border: none;
  background: rgba(239, 241, 249, 0.6);
  border-radius: 6px;
  padding: 10px;
  outline: none;
  width: 100%;
  margin-top: 10px;
}

select {
  text-align: left;
}

select .gender {
  color: #3180ac;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5a6474;
  opacity: 0.9;
  font-weight: 500;
  /* Firefox */
}

form .inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0px 20px 0px;
}

form .inputs .input_container {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form .input_container .grouped_inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .input {
  width: 100%;
}

form .form_buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

form .form_buttons button {
  padding: 10px 50px;
  margin-top: 40px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

form .form_buttons button[type="submit"] {
  background-color: #5570f1;
  color: white;
}

form .form_buttons button[type="reset"] {
  background: #f6f7fb;
  color: #5570f1;
}

.aoi_container {
  margin-top: 20px;
  min-width: 100%;
}

.aoi_container label {
  cursor: pointer;
}

.aoi_container label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.aoi_container label span {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #dde2e5;
  border-radius: 10px;
  margin: 5px 5px 5px 0px;
  user-select: none;
}

.aoi_container label input[type="checkbox"]:checked~span {
  background-color: #5570f1;
  color: white;
}

.onboarding_page .error_msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #e8f3f7;
}

.onboarding_page .tik {
  animation: pop 0.5s ease-in-out;
}

/* success page atyles */

.success_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #e8f3f7;
}

.success_page .tik {
  animation: pop 0.5s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  /* 25% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0);
  }

  70% {
    transform: scaleX(1);
  } */

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .onboarding_page {
    padding: 0px;
  }

  .form_container {
    max-width: 100vw;
    /* padding: 60px; */
    padding: 40px;
  }

  form .inputs .input_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form .form_buttons button {
    margin-top: 10px;
    margin-left: 0px;
  }

  form .form_buttons {
    justify-content: center;
    flex-direction: column;
  }
}

/* Modal Styles */

.modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.modal_content {
  background-color: #5570f1;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

/* Hide the modal by default */