nav {
  padding: 0 1.75rem;
  background-color: white;
}

.mulearn-logo {
  width: 6rem;
}

.nav-barbtn button {
  border: 2.5px solid#f6842c;
  padding: 0.65rem 0.96rem;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: #f6842c;
  color: white;
  margin-top: 2vh;
}

.dropdown {
  font-size: 1rem;
}

.dropdown-item {
  font-size: 0.9rem;
}

footer {
  padding: 4rem 2rem;
  background-color: #404040;
}

.footer-logo {
  width: 5rem;
}

footer a {
  text-decoration: none;
  color: #ffff;
}

.social-links a:hover,
.footer-links a:hover {
  color: #fd7915;
}

.footer-links {
  margin: 2rem 0;
  line-height: 2rem;
  font-size: 0.9rem;
}

.footer-links a {
  margin-right: 0.75rem;
}

.iconify {
  font-size: 2rem;
  margin-right: 0.75rem;
}

.iconify:hover {
  color: #f6832a;
  background-color: #404040;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  padding: 5px 10px;
  border: none;
  outline: none;
  color: #5865f2;
  background-color: white;
  border: 2px solid #5865f2;
  cursor: pointer;
  border-radius: 3px;
}

.upbtn {
  margin: 0;
  padding: 0;
}

.upbtn:hover,
#myBtn:hover {
  color: #5865f2;
  background-color: white;
}

footer hr {
  color: white;
  margin: 2rem 0rem;
}

.address {
  color: white;
  width: 20rem;
  font-weight: 200;
  font-size: 0.8rem;
}

.mailus {
  display: block;
  padding-top: 1rem;
  color: rgb(176, 176, 245);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #5e72e4;
}

.fheadingtext {
  font-size: 1.1rem;
  color: white;
  margin-top: 4vh;
}

.fparagraph {
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
}

.newsletterinvite {
  display: flex;
  flex-direction: row;
}

.invite-container {
  position: relative;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-top: 2vh;
  border-radius: 5px;
}

.invite-container input {
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem;
  width: 12.5rem;
}

.invite-container button {
  border: none;
  font-size: 0.8rem;
  color: white;
  background-color: #f6832a;
  padding: 0.5rem 1.75rem;
  border-radius: 3px;
}

.invite-container button:hover {
  background-color: #fd7915;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.nav-barbtn {
  padding-bottom: 2vh;
}

.newsletter {
  width: 20rem;
}

.newslettertext {
  color: white;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 1000px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer {
    padding: 1rem 6rem;
    padding-bottom: 3rem;
  }

  .container-fluid {
    padding: 0.55rem 4.3rem;
  }

  .navbar-styles {
    display: flex;
    justify-content: space-between;
  }

  .nav-barbtn button {
    margin-top: 0;
  }

  .iconify {
    font-size: 2.5rem;
  }

  .footer-logo {
    width: 6rem;
    margin-top: 2vh;
  }

  .nav-barbtn {
    padding-bottom: 0vh;
  }
}

/* Main Body Header */

.first-section {
  display: flex;
  flex-direction: column;
  margin: 13vh 2rem;
  color: #404040;
  font-weight: 500;
}

.main-header {
  font-family: "Outfit", sans-serif;
  font-size: 2.5rem;
}

.tagline {
  margin-top: 3vh;
  line-height: 1.75rem;
}

.ctabtn,
.start {
  background-color: #fd7915;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 2vh;
  border-radius: 6px;
}

.start {
  color: #fd7915;
  margin-left: 5px;
  border: 2px solid #fd7915;
  background-color: white;
}

.ctabtn:hover,
.start:hover {
  box-shadow: 0px 0px 10px #faac71;
}

.right-section {
  align-items: center;
  text-align: center;
}

.illustration {
  width: 23rem;
  margin: 5vh 0;
}

@media only screen and (min-width: 1000px) {
  .first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* margin: 10vh 6rem; */
    margin: 0vh 6rem 10vh 6rem;
  }

  .main-header {
    font-family: "Outfit", sans-serif;
    font-size: 4rem;
  }

  .tagline {
    margin-top: 0vh;
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 400;
    width: 85%;
  }

  .ctabtn {
    margin-top: 2vh;
    padding: 0.65rem 1.5rem;
  }

  .illustration {
    width: 40vw;
    max-width: unset;
  }
}

.stext {
  margin-top: 20px;
}

/* Second Section Styles */

.second-section {
  background-color: aliceblue;
  box-shadow: 0px 0px 15px #e6e6e6;
  padding: 0 2rem 5rem 2rem;
}

.bulb-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ssheader {
  font-family: "Outfit", sans-serif;
  font-size: 1.95rem;
  color: #404040;
}

.paper-bulb {
  height: 25vh;
}

.image-container {
  align-items: center;
  text-align: center;
  margin-top: 5vh;
}

.yt-video {
  width: 80vw;
  min-height: 30vh;
  border-radius: 8px;
  margin: 5vh 0;
}

.sheader {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fd7915;
}

@media only screen and (min-width: 1000px) {
  .ssheader {
    font-size: 2.75rem;
    width: 15rem;
  }

  .yt-video {
    width: 30vw;
    min-height: 35vh;
    border-radius: 8px;
    margin: 5vh 0;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .sheader {
    font-size: 1.75rem;
    font-weight: 600;
  }

  .s1s2 {
    text-align: right;
    width: 25vw;
  }

  .s3s4 {
    text-align: left;
    width: 25vw;
  }
}

/* Timeline Styles */
.lni-cake {
  width: 4rem;
}

.third-section {
  margin: 7vh 0;
  /* margin-bottom: 15vh; */
}

.tsheading {
  text-align: center;
  color: #404040;
  font-size: 2.1rem;
  font-weight: 600;
}

@media only screen and (min-width: 1000px) {
  .tsheading {
    font-size: 3rem;
    margin-bottom: 4vh;
  }
}

.inputfield {
  margin-top: 2rem;
  width: 20rem;
  padding: 0.4rem 2.25rem;
}

.submit-btn {
  background-color: #f6832a;
  color: white;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.45rem 2.25rem;
}

@media only screen and (min-width: 1000px) {
  .inputfield {
    margin-top: 2rem;
    width: 20rem;
    padding: 0.4rem 2.25rem;
    border-width: unset;
  }

  .submit-btn {
    background-color: #f6832a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.45rem 2.25rem;
    margin: 0px 10px;
  }
}