.sources_weeks {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 40px;

    .sources {
        width: calc(50% - 10px);
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        max-height: 510px;

        .source_box {
            display: flex;
            border-radius: 10px;
            border: 0.946px solid rgba(108, 123, 255, 0.36);
            box-shadow: 0px 6.619px 12.292px 0px rgba(77, 77, 77, 0.1);
            padding: 20px 10px;
            min-width: 160px;
            max-height: 510px;
            width: 32%;
            /* text-align: center; */
            gap: 20px;
            flex-direction: column;
            overflow: scroll;

            & h1 {
                font-size: 20px;
                font-weight: 600;
                /* color: #4F4F4F; */
            }

            .circle_progress_bar {
                border-radius: 50%;
                border: 1px solid #456ff6;
                width: fit-content;
                margin: 0px auto;
            }

            .source_list {
                .source {
                    font-size: 16px;
                    padding: 5px 0px;
                    border-bottom: 1px solid rgba(106, 106, 106, 0.19);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .percentage {
                        border-radius: 10px;
                        background: #a9b2ff;
                        font-size: 10px;
                        font-weight: 600;
                        padding: 1px 5px;
                        color: #000e88;
                    }
                }
            }
        }
    }

    .week_analytics {
        width: calc(50% - 10px);
        box-shadow: 0px 6.619px 12.292px 0px rgba(77, 77, 77, 0.1);
        padding: 25px 20px;
        border-radius: 10px;
        max-height: 510px;

        .header {
            display: flex;
            justify-content: space-around;
        }

        .graph {
            padding: 40px 10px;
        }

        .footer {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            margin-top: 20px;
            padding: 0px 30px;

            & button {
                padding: 8px 10px;
                border: 1px solid #6c7bff;
                border-radius: 10px;
                width: 110px;
                transition: all 0.3s ease-in-out;
            }

            .active {
                background: #6c7bff;
                color: #fff;
            }

            & button:hover {
                background: #6c7bff;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .sources_weeks {
        flex-direction: column;
        gap: 20px;

        .sources {
            width: 100%;
            flex-direction: column;
            gap: 20px 0px;
            max-height: unset;

            .source_box {
                width: 100%;
            }
        }

        .week_analytics {
            width: 100%;
            padding: 25px 0px;

            .footer {
                padding: 0px 10px;

                & button {
                    padding: 4px 10px;
                    width: 60px;
                }
            }
        }
    }
}
