/* Learning Circle Card */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 8px;
    background: white;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cardContent {
    flex: 1;
    padding: 24px;
}

.cardTitle {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
}

.memberCount {
    font-size: 14px;
    color: #6b7280;
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.memberIcon {
    width: 14px;
    height: 14px;
    margin-right: 6px;
    color: rgb(0, 106, 255);
}

.cardDescription {
    color: #6b7280;
    margin-bottom: 16px;
    text-align: left;
}

.badgeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.categoryBadge, .statusBadge, .membersBadge, .joinedBadge, .completedBadge {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 14px;
}

.onlineIcon, .offlineIcon, .icon {
    margin-right: 6px;
    width: 14px;
    height: 14px;
}

.onlineIcon{
    color: green;
}

.offlineIcon{
    color: orange;
}

.icon{
    color: rgb(0, 106, 255);
}

.joinedBadge {
    background: #d1fae5;
    color: #065f46;
    border: 1px solid #a7f3d0;
}

.completedBadge {
    background: #bfdbfe;
    color: #1e40af;
    border: 1px solid #93c5fd;
}

.cardFooter {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.viewDetailsButton {
    width: 100%;
    color: #1f2937;
    transition: all 0.3s ease;
}

.viewDetailsButton:hover {
    color: #456ff6;
    border-color: #456ff6;
    background-color: rgba(69, 111, 246, 0.05);
}



.secondaryButton {
    width: 100%;
    color: #ebebeb; 
    transition: all 0.3s ease;
}

.secondaryButton:hover {
    color: #456ff6;
    border-color: #456ff6;
    background-color: rgba(69, 111, 246, 0.05);
}