.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 160px);
    justify-content: flex-start;
    text-align: center;
}

.main_content .conect_dicord_conatianer {
    width: 90%;
    height: 500px;
    /* padding: 20px 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #F3F8FF;
    border: 1px solid #DDE2E5;
    border-radius: 20px;
}

.main_content .conect_dicord_conatianer .content {
    padding: 40px 20px;
}

.main_content .conect_dicord_conatianer h1 {
    font-size: 35px;
    font-weight: 700;
}

.main_content .conect_dicord_conatianer .content .muid_and_btn {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content .conect_dicord_conatianer .muid_and_btn p {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    text-align: center;
    background: #CCDBF0;
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.main_content .conect_dicord_conatianer .muid_and_btn p:hover {
    background: #a9c8f3
}

.main_content .conect_dicord_conatianer .muid_and_btn button {
    background: #014BB2;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    margin: 10px;
    align-items: center;
    transition: .3s ease-in-out;
}

.main_content .conect_dicord_conatianer .muid_and_btn button:hover {
    background: #003277;
}

.main_content .conect_dicord_conatianer .images {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.main_content .conect_dicord_conatianer .images .image {
    display: flex;
    height: 300px;
    width: 580px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main_content .conect_dicord_conatianer .images p:nth-child(1) {
    background-image: url(./assets/images/connectdiscordpng1.png);
    position: absolute;
    left: 0;
}

.main_content .conect_dicord_conatianer .images p:nth-child(2) {
    background-image: url(./assets/images/connectdiscordpng2.png);
    position: absolute;
    right: -30px;
    bottom: -35px;
}

/* onboarding flow */

.main_content .onboarding_flow_container {
    margin-top: 20px;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main_content .onboarding_flow_container .content {
    width: 100%;
}

.main_content .onboarding_flow_container .content h1 {
    font-size: 30px;
    font-weight: 700;
}

.main_content .onboarding_flow_container .content .onboarding_flow {
    position: relative;
    height: 100ch;
    margin: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.main_content .onboarding_flow_container .content .onboarding_flow .lines {
    position: absolute;
    height: 640px;
    width: 1060px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(./assets/images/lines.png);
}

.main_content .onboarding_flow_container .content .onboarding_flow .box,
.main_content .onboarding_flow_container .content .onboarding_flow .box2,
.main_content .onboarding_flow_container .content .onboarding_flow .box3,
.main_content .onboarding_flow_container .content .onboarding_flow .box4 {
    position: absolute;
    height: 200px;
    width: 300px;
    background-color: #D9D9D9;
}

.main_content .onboarding_flow_container .content .onboarding_flow .box {
    left: 60px;
    top: 30px;
}

.main_content .onboarding_flow_container .content .onboarding_flow .box2 {
    left: 640px;
    top: 200px;
}

.main_content .onboarding_flow_container .content .onboarding_flow .box3 {
    left: 0px;
    top: 440px;
}

.main_content .onboarding_flow_container .content .onboarding_flow .box4 {
    left: 570px;
    top: 650px;
}

/* responsive */


@media (max-width: 1380px) {
    .main_content .conect_dicord_conatianer {
        height: 400px;
    }

    .main_content .conect_dicord_conatianer .images .image {
        width: 38vw;
    }

    .main_content .conect_dicord_conatianer .images p:nth-child(1) {
        left: 0;
        bottom: calc(-130px - -9vw);
    }

    .main_content .conect_dicord_conatianer .images p:nth-child(2) {
        right: -20px;
        bottom: calc(-151px - -9vw);
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .lines {
        height: 620px;
        width: 830px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box,
    .main_content .onboarding_flow_container .content .onboarding_flow .box2,
    .main_content .onboarding_flow_container .content .onboarding_flow .box3,
    .main_content .onboarding_flow_container .content .onboarding_flow .box4 {
        height: 140px;
        width: 200px;
    }
}

@media (max-width: 1200px) {
    .main_content .onboarding_flow_container .content .onboarding_flow .lines {
        height: 560px;
        width: 770px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box2 {
        left: 510px;
        top: 180px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box3 {
        top: 360px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box4 {
        left: 460px;
        top: 580px;
    }
}

@media (max-width: 1100px) {
    .main_content .onboarding_flow_container .content .onboarding_flow .lines {
        height: 540px;
        width: 60vw;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box2 {
        left: 390px;
        top: 180px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box3 {
        top: 360px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box4 {
        left: 380px;
        top: 550px;
    }
}

@media (max-width: 1000px) {
    .main_content .onboarding_flow_container .content .onboarding_flow .box2 {
        left: 390px;
        top: 180px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box3 {
        top: 340px;
        left: -30px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box4 {
        left: 340px;
        top: 530px;
    }
}

@media (max-width: 900px) {
    .main_content .onboarding_flow_container .content .onboarding_flow .box2 {
        left: 350px;
        top: 190px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box4 {
        left: 310px;
        top: 510px;
    }
}

@media (max-width: 800px) {
    .main_content .onboarding_flow_container .content .onboarding_flow .box2 {
        left: 290px;
        top: 210px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box3 {
        top: 330px;
        left: -50px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box4 {
        left: 250px;
        top: 470px;
    }
}

@media (max-width: 720px) {
    .main_content .onboarding_flow_container .content .onboarding_flow .lines {
        height: 540px;
        width: 80vw;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box {
        height: 140px;
        width: 200px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box2 {
        left: 360px;
        top: 200px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box3 {
        top: 330px;
        left: -50px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box4 {
        left: 320px;
        top: 510px;
    }
}

@media (max-width: 710px) {
    .main_content .conect_dicord_conatianer {
        height: 430px;
    }

    .main_content .conect_dicord_conatianer .content {
        padding: 40px 10px;
    }

    .main_content .conect_dicord_conatianer .content .muid_and_btn {
        width: 100%;
        flex-direction: column;
    }

    .main_content .conect_dicord_conatianer .images .image {
        /* height: 410px; */
        width: 380px;
    }

    .main_content .conect_dicord_conatianer .images p:nth-child(1) {
        display: none;
    }

    .main_content .conect_dicord_conatianer .images p:nth-child(2) {
        right: -2px;
        bottom: -65px;
    }

    .main_content .conect_dicord_conatianer h1 {
        font-size: 25px;
    }
}

@media (max-width: 650px) {
    .main_content .onboarding_flow_container .content .onboarding_flow {
        display: flex;
        justify-content: center;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box,
    .main_content .onboarding_flow_container .content .onboarding_flow .box2,
    .main_content .onboarding_flow_container .content .onboarding_flow .box3,
    .main_content .onboarding_flow_container .content .onboarding_flow .box4 {
        height: 20vw;
        width: 30vw;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .lines {
        height: 540px;
        width: 70vw;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box {
        left: -20px;
        top: 10vh;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box2 {
        left: 50vw;
        top: 19vh;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box3 {
        top: 330px;
        left: -30px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box4 {
        left: 50vw;
        top: 28em;
    }
}

@media (max-width: 395px) {
    .main_content .onboarding_flow_container .content .onboarding_flow {
        height: 40ch;
    }

    .main_content .conect_dicord_conatianer {
        height: 470px;
    }

    .main_content .conect_dicord_conatianer .images .image {
        width: 300px;
    }

    .main_content .conect_dicord_conatianer .images p:nth-child(2) {
        bottom: -80px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .lines {
        height: 290px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box {
        left: -20px;
        top: 5vh;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box2 {
        left: 50vw;
        top: 12vh;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box3 {
        top: 180px;
        left: -30px;
    }

    .main_content .onboarding_flow_container .content .onboarding_flow .box4 {
        top: 17em;
    }
}

@media (max-width: 308px) {
    .main_content .conect_dicord_conatianer .images .image {
        height: 410px;
        width: 290px;
    }

    .main_content .conect_dicord_conatianer .images p:nth-child(2) {
        right: -2px;
        bottom: -140px;
    }

    .main_content .conect_dicord_conatianer .muid_and_btn p {
        padding: 10px 10px;
    }
}