.pagePara {
    color: var(--White);
    background-color: var(--blue);
    border-radius: var(--borderRadius);
    padding: 0.3rem 0.7rem;
    margin: 0 10px;
    color: var(--black);
    background-color: var(--Light);
}

.tableFooter {
    background-color:  var(--White);
    padding: 5px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    gap: 5px;
}

.showContainer {
    border-radius: 8px;
    position: relative;
    display: flex;
    gap: 10px;
    min-width: fit-content;
    height: 100%;
    align-items: center;
    color: var(--dimText);
    font-weight: medium;
}

.showContainer select {
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    outline: none;
    height: 100%;
    color: var(--black);
}

.pageNumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--dimText);
}

.showSelect {
    cursor: pointer;
}
