.inputBox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
	padding: 8px;
	background-color: #fff;
	width: 50%;
}

.inputBox span {
	font-weight: bold;
	color: black;
}

.inputBox input {
	border: none;
	width: 100%;
	color: black;
	border-radius: 8px;
	background-color: #ebeaea9b;
	outline: none;
	box-sizing: border-box;
	padding: 10px;
}

@media (max-width: 768px) {
	.inputBox {
		width: 100%;
	}
}