p {
  margin: 0;
  padding: 0;
}

.firstviewmain_container {
  padding-top: 5rem;
  background-color: #f2f3f9;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #f2f3f9 15px
    ),
    repeating-linear-gradient(#fdf1e755, #fdf1e7);
}

.first_view {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.fv_texts {
  text-align: center;
}

.fv_image {
  display: none;
}

.fv_heading {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #303030;
}

.fv_heading span {
  font-weight: 600;
  color: #f78c40;
}

.fv_tagline {
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
}

.primary {
  background-color: #f78c40;
  padding: 0.7rem 2.75rem;
  border: none;
  margin-top: 1rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  border-radius: 5px;
}

@media only screen and (min-width: 1000px) {
  .firstview_container {
    max-width: 1000px;
    display: block;
    margin: auto;
  }

  .fv_image {
    display: block;
    margin: auto;
    width: 55rem;
  }

  .fv_heading {
    font-family: "Noto Sans", sans-serif;
    font-size: 4.5rem;
    line-height: 4.55rem;
    font-weight: 600;
  }

  .fv_tagline {
    font-size: 1.1rem;
  }
}

/* Second Section Styles */

.secondviewmain_container {
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.sv_mainheading {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: #303030;
}

.sv_mainheading span {
  color: #f78c40;
}

.sv_tagline {
  margin-top: 0rem;
  font-family: "Poppins", sans-serif;
}

.sv_point {
  margin: 2rem 0;
}

.svp_heading {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.svp_text {
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}

.svp_image {
  width: 3.15rem;
}

@media only screen and (min-width: 1000px) {
  .secondviewmain_container {
    max-width: 1300px;
    display: block;
    margin: auto;
    text-align: center;
  }
  .sv_mainheading {
    font-size: 2.75rem;
    margin-bottom: 0.5rem;
  }

  .sv_points {
    margin-top: 4rem;
    display: flex;
  }

  .sv_point {
    margin: 1rem;
  }

  .sv_tagline {
    width: 60%;
    display: block;
    margin: auto;
    font-size: 1.1rem;
  }

  .svp_text {
    font-family: "Poppins", sans-serif;
    font-size: 1.02rem;
  }
}
