.container {
  display: grid;
  justify-content: center;
  max-width: 100%;
  margin-top: 8rem;
  margin-bottom: 10rem;
}
.journey_container {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}
.layout {
  background-color: rgba(205, 198, 198, 0.277);
  width: 500px;
  height: 200px;
  border-radius: 10px;
}
.layout:hover{
    background-color: rgba(95, 95, 95, 0.378);
}
.heading{
    display: flex;
    justify-content: start;
    padding-left: 20px;
    padding-top: 10px;
}
.list{
    padding-left: 50px;
}
.list li {
    list-style-type: disc; 
    padding-left: 10px;
  }

