.interestGrp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #FFFFFF;
    /* box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06); */
    border-radius: 10px;
    padding: 10px 15px;

    .top_sec {
        display: flex;
        justify-content: space-between;

        .edit_profile_btn {
            cursor: pointer;
            padding: 0px;
            height: 30px;
            width: 30px;
            position: absolute;
            right: 5px;
            /* top: 5px; */
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: aliceblue;
            color: #456FF6;
            position: relative;

            & i {
                height: 20px;
                width: 16px;
            }
        }
    }

    .igs_container {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0px;
        list-style: none;
        gap: 20px;
        justify-content: flex-start;
        max-width: 50vw;
        /* overflow: scroll; */

        & hr {
            width: 100%;
            margin: 10px 0px;
        }

        .igs {
            padding: 0px 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            min-height: 50px;
            transition: all .3s ease-in-out;
            position: relative;
            -webkit-transform-origin-x: 0;

            & i {
                position: absolute;
                top: -10px;
                right: -5px;
                cursor: pointer;
            }

            &:nth-child(2n+1) {
                background-color: rgb(255, 187, 89, .3);
                color: #D18E2C;
            }

            &:nth-child(2n+1) p {
                background-color: rgb(255, 187, 89, .9);
                color: #FFF4E4;
            }

            &:nth-child(2n+2) {
                background-color: rgb(255, 134, 152, .3);
                color: #FC7F92;
            }

            &:nth-child(2n+2) p {
                background-color: rgb(255, 134, 152, .9);
                color: #FFF4E4;
            }

            &:nth-child(2n+3) {
                background-color: rgb(34, 179, 210, .3);
                color: #22B3D2;
            }

            &:nth-child(2n+3) p {
                background-color: rgb(34, 179, 210, .9);
                color: #FFF4E4;
            }

            &:nth-child(2n+4) {
                background-color: rgb(45, 206, 137, .3);
                color: #2DCE89;
            }

            &:nth-child(2n+4) p {
                background-color: rgb(45, 206, 137, .9);
                color: #FFF4E4;

            }

            &:nth-child(2n+5) {
                background-color: rgb(255, 0, 0, .3);
                color: rgb(255, 0, 0, .9);
            }

            &:nth-child(2n+5) p {
                background-color: rgb(255, 0, 0, .9);
                color: #FFF4E4;

            }

            & p {
                padding: 5px;
                width: 50px;
                border-radius: 8px;
                margin-left: 10px;
                text-align: center;
                transition: all .3s ease-in-out;
            }
        }

        .igs_add {
            display: flex;
            align-items: center;
            background-color: rgb(150 150 150 / 61%);
            color: rgba(255, 255, 255, 0.9);
            padding: 10px 26px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

.heatmap {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    /* max-width: 770px; */
    /* width: 90vw; */
    overflow: scroll;
    background: #FFFFFF;
    /* box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06); */
    border-radius: 10px;
    padding: 10px 5px;
}


@media (max-width: 800px) {
    .interestGrp .igs_container {
        max-width: 90vw;
    }
}


@media (max-width: 500px) {
    .interestGrp .igs_container {
        max-width: 90vw;
    }
}