@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: Cyberpunk;
  src: url(./Cyberpunk.ttf);
}

.main_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
}

.first_view_container {
  padding-top: 3rem;
  background-color: yellow;
  padding-bottom: 3rem;
}

.first_view {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: 4re;
}

.first_view_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
}

.fv_heading {
  font-family: Onest;
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 30rem;
  line-height: 8rem;
  color: #1d1d1d;
}

.first_view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fv_tagline {
  font-family: Onest, "sans-serif";
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
  color: #1d1d1d;
  max-width: 50rem;
}

.register {
  background-color: #1d1d1d;
  font-family: Onest, "sans-serif";
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: white;
  padding: 1rem;
  max-width: 30rem;
}

.fv_image {
  width: 35rem;
}

.second_view_container {
  background-color: #1d1d1d;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.second_view {
  max-width: 1300px;
  margin: 0 auto;
}

.sv_steps {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.step {
  text-align: center;
}

.sv_heading {
  font-family: Onest;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
}

.number {
  font-family: Onest;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  max-width: 30rem;
  color: #fff;
}

.text {
  font-family: Onest, "sans-serif";
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
  max-width: 50rem;
}

.third_view_container {
  padding-top: 3rem;
  background-color: yellow;
  padding-bottom: 3rem;
  color: #1d1d1d;
}

.third_view {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tv_heading {
  font-family: Onest;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  max-width: 35rem;
  line-height: normal;
  color: #1d1d1d;
}
.third_view_img {
  width: 40rem;
}

.tv_tagline {
  font-family: Onest, "sans-serif";
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #1d1d1d;
  max-width: 30rem;
}

.footer {
  background-color: #1d1d1d;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_text {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.footer_heading {
  font-family: Onest;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 1rem;
  color: #fff;
}

.footer_logo {
  width: 6rem;
  margin-left: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: yellow;
  color: #1d1d1d;
}

.nav_logo1 {
  width: 8rem;
  margin: 0.5rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.link {
  font-family: Onest, "sans-serif";
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

.nav_logo2 {
  width: 8rem;
  margin: 0.5rem;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .first_view {
    flex-direction: column;
  }

  .fv_image {
    width: 100%;
  }

  .fv_heading {
    font-size: 5rem;
    line-height: 6rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .fv_tagline {
    font-size: 1rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .register {
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .second_view {
    padding: 0 1rem;
  }

  .sv_heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .number {
    font-size: 2rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .text {
    font-size: 1rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .third_view_container {
    padding-top: 1rem;
    background-color: yellow;
    padding-bottom: 1rem;
    color: #1d1d1d;
  }

  .third_view {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .tv_heading {
    font-size: 3rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .third_view_img {
    width: 80%;
    margin-bottom: 1rem;
  }

  .tv_tagline {
    font-size: 1rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    column-gap: 1rem;
  }

  .footer_heading {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .footer_logo {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .nav_logo1 {
    width: 6rem;
  }

  .nav_logo2 {
    width: 6rem;
  }

  .link {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .fv_heading {
    font-size: 3rem;
    line-height: 4rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .fv_tagline {
    font-size: 0.8rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .register {
    font-size: 0.8rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .sv_heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .number {
    font-size: 1.5rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .text {
    font-size: 0.8rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .third_view_container {
    padding-top: 1rem;
    background-color: yellow;
    padding-bottom: 1rem;
    color: #1d1d1d;
  }

  .third_view {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .tv_heading {
    font-size: 2rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .third_view_img {
    width: 100%;
  }

  .tv_tagline {
    font-size: 0.8rem;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .footer_heading {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .nav_logo1 {
    width: 2rem;
  }

  .nav_logo2 {
    width: 2rem;
  }

  .link {
    font-size: 0.8rem;
  }
}

@media (max-width: 1101px) {
  .third_view {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .sv_steps {
    justify-content: center;

    column-gap: 1rem;
  }
}
