.container {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.main {
    max-width: 130ppx;
}

.header {
    display: flex;
    align-items: center;
}

.header .title_info p.title {
    font-family: "Noto Sans", sans-serif;
    font-size: 4.5rem;
    line-height: 6rem;
    font-weight: 600;
        max-width: 500px;
}

p.title {
    font-family: "Noto Sans", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #303030;
}

p.title span {
    color: #3362ff;
}

.info {
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    width: 70%;
}

.header .svg img {
    max-width: 100%;
}

.hiring_calls {
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:1350px) {
    .main {
        max-width: unset;
        margin: 50px;
    }

    p.title {
        max-width: 600px;
    }
}

@media only screen and (max-width:1180px) {
    /* .tv_story_container {
        justify-content: space-around;
    } */

    .header .title_info p.title {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media only screen and (max-width:1020px) {
    .header {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .header .title_info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hiring_calls {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:400px) {
    .main{
        margin: 30px;
    }
    .header .title_info p:nth-child(1) {
        font-size: 1.9rem;
    }
}