.popup_container {
    min-width: 40%;
    width: 100%;
    max-width: 400px;
    height: max-content;
    padding: 20px;
    /* border: 1px solid #cbcbcb; */
    border: none;
    border-radius: 8px;
    z-index: 0;
    background-color: #fff;
    margin: auto;
    .popup_title {
        font-size: 20px;
        font-weight: 800;
        text-align: start;
    }
    p {
        width: 90%;
        text-align: left;
        font-size: 14px;
        span {
            font-weight: bold;
            &::after {
                content: " ";
            }
        }
    }
}
.ml_top_container {
    width: 100%;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
}
.ml_toggle_container {
    display: flex;
    gap: 1rem;
    align-items: center;
    .table_tab_btn {
        height: max-content;
        padding: 6px 24px;
        border-radius: 10px;
        cursor: pointer;
    }
    .active {
        background-color: #456ff6;
        color: white;
    }
    .inactive {
        border: 1px solid #456ff6;
        color: #456ff6;
    }
}
.createBtnContainer {
    width: max-content;
    display: flex;
    align-items: center;
}
.createBtn {
    background: var(--Primary);
    color: var(--White);
    min-width: 100px;
    padding: 10px 20px;
    display: flex;
    gap: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--Primary);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.ml_popup_btn_container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.ml_popup_container {
    backdrop-filter: blur(2px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 9999;
    .ml_popup_box {
        min-width: 20rem;
        width: 30%;
        height: max-content;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.288);
        .ml_popup_title {
            font-size: 20px;
            font-weight: 800;
            text-align: start;
        }
        .ml_popup_btn_container {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }
    }
}
.selectionBox_container {
    padding: 0 10px;
}
.show {
    display: flex !important;
}

.path_container {
    width: 100%;
    padding: 0.5rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    /* background-color: yellow; */
    p {
        color: black;
        font-size: 1rem;
    }
    h3 {
        font-size: 0.8rem;
        cursor: pointer;
    }
}

/* @media only screen and (max-width: 400px) {
    .popup_container {
        max-width: 10%;
    }
} */

@media only screen and (max-width: 768px) {
    .ml_toggle_container {
        gap: 1rem;
        .table_tab_btn {
            padding: 6px 12px;
            width: 100%;
            max-width: 6rem;
        }
        flex-wrap: wrap;
    }
    .ml_top_container {
        flex-direction: column-reverse;
        gap: 1rem;
        padding: 0 1rem;
    }
    .createBtnContainer {
        width: 100%;
        justify-content: center;
    }
    .createBtn {
        width: 100%;
    }
    .popup_container {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }
}
