.heatmap_container {
    width: 100%;
}



.heatmap_container .months {
    margin-left: 25px;
    display: flex;
    gap: 35px;
    justify-content: flex-start;
}

.heatmap_container .weeks {
    position: absolute;
    font-size: 9.5px;
    background-color: #fff;
    margin-left: -1px;
}

.heatmap_container .heatmap {
    display: flex;
    flex-wrap: wrap;
    /* width: 400px; */
    height: 110px;
    align-content: space-between;
    flex-direction: column;
    margin-left: 20px;
}

.heatmap_container .heatmap p {
    height: 10px;
    width: 10px;
    margin: 2px;
    text-align: center;
    font-size: 9px;
    border-radius: 3px;
    background: aliceblue;
    border: 0.2px solid rgba(171, 171, 171, 0.20);
}


@media (min-width: 2000px) {
    .heatmap_container .months {
        margin-left: 45px;
    }

    .heatmap_container .weeks {
        font-size: 16px;
        margin-top: -3px;
    }
    .heatmap_container .heatmap {
        height: 170px;
        margin-left: 40px;
    }
    .heatmap_container .heatmap p {
        height: 20px;
        width: 20px;
        border-radius: 6px;
    }
}