.roles_and_karma_container {
    display: flex;
    width: 95%;
    align-items: center;
}

.roles_karma_dist_container {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 16px;
    border-left: 6px solid #7e48d2;
    box-shadow: 0px 3px 12px 0px rgba(0, 24, 99, 0.1);
    background-color: #fff;
    margin-top: 20px;

    .role_distribution_container {
        width: 50%;
        min-width: 450px;
        height: 300px;
        overflow: hidden;
        position: relative;
        border-radius: 12px;

        .roles_container {
            width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;
            overflow-x: scroll;
            gap: 10px;
            margin-left: 10px;
            background-color: transparent;

            .RoleWrapperContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;

                h2 {
                    font-size: 15px;
                    color: black;
                }
                p {
                    font-size: 13px;
                    color: #7d89b1;
                }
            }
            .StyleCommonRole {
                background-color: #c6d4ff;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .innerStyleCommonRole {
                background-color: #456ff6;
                width: 15px;
                height: 14px;
                border-radius: 50%;
            }
        }

        & h1 {
            position: absolute;
            text-align: left;
            color: #000;
            font-weight: 700;
            font-size: 22px;
            left: 40px;
            top: 10px;
            z-index: 500;
        }

        .ellipseBasic {
            border: 2px solid #d5d8e6;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .planet {
            width: 90px;
            height: 90px;
            position: absolute;

            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url(../assets/images/planet.png) center center/contain
                no-repeat;
        }
        .ElipseWrapper {
            position: absolute;
            bottom: 15px;
            left: 10px;
        }
    }

    .karma_distribution_container {
        width: 50%;
        min-height: 300px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & h1 {
            text-align: left;
            color: #000;
            font-weight: 700;
            font-size: 22px;
        }
        .container {
            min-height: 200px;
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}

@media screen and (max-width: 450px) {
    .roles_karma_dist_container {
        .karma_distribution_container {
            height: fit-content;
            padding: 20px 0px;
            .container {
                height: fit-content;
            }
        }
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.profileList {
    position: relative;
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 5vw;
    list-style: none;
    height: fit-content;
    justify-content: flex-start;
    margin-top: -1rem;
    overflow: scroll;
    width: 95%;
    margin-top: 20px;

    .underline {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 2rem;
        height: 3.5px;
        background-color: #456ff6;
        transition: all 0.5s ease-in-out;
    }

    .activeBar {
        color: black;
        border-bottom: 3px solid #456ff6;
    }
    .notActiveBar {
        border-bottom: none;
    }
    & li {
        color: #7d9bc6;
        font-weight: 600;
        cursor: pointer;
        padding-bottom: 7px;
        transition: all 0.1s ease-in;

        &:hover {
            font-weight: 600;
            color: #000;
        }
    }
}

@media screen and (max-width: 1240px) {
    .roles_karma_dist_container {
        gap: 30px;
        background: transparent;
        border-radius: unset;
        border-left: unset;
        box-shadow: unset;

        .role_distribution_container {
            min-width: 100%;
            border-radius: 16px;
            border-left: 6px solid #7e48d2;
            box-shadow: 0px 3px 12px 0px rgba(0, 24, 99, 0.1);
            background: #fff;
        }

        .karma_distribution_container {
            width: 100%;
            border-radius: 16px;
            border-left: 6px solid #e36dff;
            box-shadow: 0px 3px 12px 0px rgba(0, 24, 99, 0.1);
            background: #fff;
            overflow: hidden;

            .container {
                left: -30px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .roles_karma_dist_container {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .profileList {
        gap: 30px;
        li {
            min-width: fit-content;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 400px) {
    .roles_karma_dist_container {
        .role_distribution_container {
            .roles_container {
                justify-content: flex-start;
            }
        }
    }
}
