.popUp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: #00000014;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        background-color: #fff;
        border-radius: 20px;
        padding: 40px 10px 10px;
        min-height: 300px;
        max-width: 700px;
        position: relative;
        z-index: 100;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1 {
            text-align: center;
        }
        & img {
            height: 30px;
        }

        & h1 {
            font-size: 2rem;
            font-weight: 600;
        }

        .subText {
            margin-top: 10px;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .itemsContainer {
            gap: 1.5rem;
            z-index: 10;
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            justify-content: center;
            overflow: show;

            .itemsCard {
                min-width: 200px;
                max-height: 120px;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0px 0px 17.65823px 0px rgba(0, 0, 0, 0.07);
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                padding: 10px;
                position: relative;
                transition: all 0.3s ease;
                position: relative;

                .infoButton {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    padding: 5px;
                    border-radius: 50%;
                    cursor: pointer;
                    color: #456ff6;
                    z-index: 11;

                    &:hover + .interestInfo {
                        display: flex;
                    }
                }

                .interestInfo {
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    color: #22222290;
                    font-size: 10px;
                    background: #ffffff;
                    border: 1px solid #456ef694;
                    padding: 10px;
                    border-radius: 10px;
                    z-index: 10;
                    flex-direction: column;
                    justify-content: start;
                    gap: 10px;
                    overflow-x: hidden;
                    overflow-y: scroll;

                    &:hover {
                        display: flex;
                    }

                    h4 {
                        font-weight: 800;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0;
                        margin: 0;
                        li {
                            text-align: start;
                            width: auto;
                            display: inline-block;
                            padding: 3px;
                            background: #22222210;
                            margin: 1px;
                            border-radius: 5px;
                            color: black;
                        }
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100px;
                    p {
                        transform: translateY(-90%);
                    }
                }

                &.others {
                    &.checked {
                        display: flex;
                        width: calc(380px + 3rem);
                        justify-content: space-around;
                        flex-direction: column;
                        overflow: visible;
                        flex-direction: row;
                        gap: 1rem;
                    }
                }

                .checkmark {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    transform: translate(-30%, -30%);
                    color: #ffffff;
                    background-color: #456ff6;
                    border-radius: 50%;
                    padding: 2px;
                    z-index: 12;
                }

                div {
                    display: flex;
                }

                &:hover {
                    outline: 1.177px solid #456ff6;
                    transition: 1s ease;
                }

                &.others {
                    position: relative;
                    overflow: hidden;
                }

                .othersTextBox {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    transform: translateY(0);
                    transition: transform 0.3s ease-in-out;
                }

                .tagInput {
                    background: red !important;
                    width: 100%;
                }
                .otherInterestInput {
                    width: 90%;
                    padding: 8px;
                    margin-top: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    font-size: 14px;
                }
            }
            .active {
                outline: 2px solid #456ff6;
            }
            .itemImage {
                margin-top: 1rem;
                object-fit: cover;
                height: 70px;
                width: 70px;
                -webkit-user-drag: none;
            }
            .title {
                margin-top: 0.5rem;
                font-weight: bold;
            }
        }

        @media (width<500px) {
            .itemsContainer {
                .itemsCard {
                    width: 300px;
                    flex-direction: column;
                    &.others {
                        &.checked {
                            height: fit-content;
                            max-height: none;
                            flex-direction: column;
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}
