.body {
	background-color: #CCDBF0;
	height: 6vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-radius: 8px;
}

.container{
	padding: 10px 0;
	width: 95%;
}

.searchBar {
	border-radius: 8px;
	padding: 3px;
	color: #014BB2;
	padding-left: 30px;
	margin-left: 10px;
	border: 1px solid #014BB2;
	background-image: url(public/fi-br-search.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #fff;
	background-position-x: 2%;
  box-shadow: none;
}

::placeholder {
  color: #014BB2!important;
}

.filter {
	border-radius: 8px;
	background-color: #fff;
	margin-right: 10px;
	border: 1px solid #014BB2;
	width: 6em;
	padding: 3px;
	background-image: url(public/filter-icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #fff;
	padding-left: 25px;
	background-position-x: 12%;
  box-shadow: none;
}