.body {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
	font-family: 'Plus Jakarta Sans', sans-serif;
	color: var(--Dark);
	background-color: #fff;
	margin: 1rem;
}

.container {
    /* padding: 10px 0; */
    width: 95%;
	padding: 0;
	margin: 0;
}

.searchBar {
	border: 1px solid #a9a9a9;
	background: transparent;
	background-color: var(--White);
	width: 100%;
	height: 2rem;
	border-radius: var(--borderRadius);
	margin: 0 !important;
}

.searchBar::placeholder {
    color: #a9a9a9 !important;
}

.csv {
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-right: 10px;
    border: 1px solid #456FF6;
    padding: 3px 10px;
    box-shadow: none;
    cursor: pointer;
}

.csv div {
    margin-right: 5px;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.showContainer {
    border-radius: 8px;
    position: relative;
}

.showSelect {
    border-radius: 8px;
    padding: 0.25rem 0;
    border: 1px solid #456FF6;
    margin: 0 5px;
}

@media (max-width: 415px) {
    .showLabel {
        display: none;
    }
	.form_container{
		display: inline;
		align-items: center;
		width: 45vw !important;
	}
    .showSelect {
        position: absolute;
        right: 0rem;
        top: -15.7px;
    }
	}

.form_container {
	display: flex;
	align-items: center;
	border-radius: 8px;
}

.icon {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.clearIcon {
	font-size: 1.5rem;
	cursor: pointer;
	margin: 0;
	z-index: 0;
}

.searchIcon {
	margin: 0;
	cursor: pointer;
	background-color: var(--blue);
	color: var(--White);
	margin-left: 10px;
	padding: 0.2rem 0.8rem;
	border-radius: var(--borderRadius);
	z-index: 0;
}