.body {
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--Dark);
    background-color: #fff;
    /* flex-wrap: wrap; */
}

.container {
    /* padding: 10px 0; */
    width: 95%;
    padding: 0;
    margin: 0;
}

.searchBar {
    border: 1px solid #a9a9a9;
    background: transparent;
    background-color: var(--White);
    width: 100%;
    height: 2rem;
    border-radius: var(--borderRadius);
    margin: 0 !important;
}

.searchBar::placeholder {
    color: #a9a9a9 !important;
}

.csv {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* .left {
    width: 30%;
} */

.right {
    /* width: 70%; */
    display: inline-flex;
    align-items: center;
    justify-content: end;
    margin: 0 !important;
    padding: 0 !important;
}

/* .showContainer {
    border-radius: 8px;
    position: relative;
} */

.showSelect {
    border-radius: 8px;
    padding: 0.25rem 0;
    border: 1px solid #456ff6;
    margin: 0 5px;
}

@media (max-width: 415px) {
    .showLabel {
        display: none;
    }
    .form_container {
        display: inline;
        align-items: center;
        width: 45vw !important;
    }
    .showSelect {
        position: absolute;
        right: 0rem;
        top: -15.7px;
    }
}

.form_container {
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.clearIcon {
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0;
    z-index: 0;
}

.searchIcon {
    margin: 0;
    cursor: pointer;
    background-color: var(--blue);
    color: var(--White);
    margin-left: 10px;
    padding: 0.2rem 0.8rem;
    border-radius: var(--borderRadius);
    z-index: 0;
}
