.firstviewmain_container {
  opacity: 1;
  display: grid;
  place-items: center;
}

.first_view {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.fv_texts {
  text-align: center;
}

.fv_illustration {
  display: none;
}

.fv_heading {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #303030;
}

.fv_heading span {
  font-weight: 600;
  color: #f78c40;
}

.fv_tagline {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
}

.team_collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

.team_list {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3rem;
  width: 90%;
  margin: 0 auto;
}

.select {
  max-width: 400px;
}

@media only screen and (min-width: 600px) {
  .firstviewmain_container {
    margin: 0 3rem;
  }

  .team_list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .firstviewmain_container {
    margin: 6rem;
  }

  .firstview_container {
    display: block;
  }

  .team_collection {
    margin: 3rem;
  }

  .fv_texts {
    width: 48vw;
  }

  .fv_illustration {
    display: block;
    margin-left: auto;
    text-align: right;
  }

  .fv_heading {
    font-family: "Noto Sans", sans-serif;
    font-size: 3.5rem;
    line-height: 4.55rem;
    font-weight: 600;
  }

  .fv_tagline {
    font-size: 1.1rem;
  }

  .team_list {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}