.OnboardingHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.OnboardingHeader img {
    height: 2rem;
}

.OnboardingHeader h1 {
    font-size: 3rem;
    font-weight: 600;
}

@media (width<=820px) {
    .OnboardingHeader h1 {
        font-size: 2rem;
    }

    .Onboardingheader p{
        font-size: .8rem;
    }
}