.eventPage {
  /* padding: 2rem 1.5rem; */
  border-radius: none;
  width: 100%;
}

.bg {
  padding: 4rem 0;
}

.tabs {
  padding: 13rem 10rem 1rem 10rem;
  text-align: center;
}

.tabList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
}

.tabHead {
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #09b326, #32b4ed);
  border-image-slice: 1;
  color: #fff;
}

.tabHead:hover,
.active {
  background-image: linear-gradient(to bottom right, #09b326, #32b4ed);
  border-radius: 5px 5px 0 0;
  padding: 0.9rem 1rem;
}

.links {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
}

@media screen and (max-width: 480px) {
  .tabList {
    flex-wrap: wrap;
  }

  .btn {
    font-size: 1.3rem;
  }
}
