/* menubtn */

.menu_btn {
    /* width: 50px; */
    left: 20px;
    top: 20px;
    position: fixed;
    height: 25px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    z-index: 110;
    flex-direction: column;
}

.menu_btn .lines {
    width: 25px;
    height: 4px;
    background-color: #456ff6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.3s ease-in-out;
}

.full_page {
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    color: #456ff6;
    overflow-x: hidden;
}

.side_nav_bar_container {
    /* position: fixed; */
    min-width: fit-content;
    z-index: 100;
    max-width: 25%;
    height: 100%;
    flex: 2;
    display: flex;
    background-color: #fff;
    padding: 60px 20px 20px;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}

.side_nav_bar_container .side_nav_bar {
    width: 100%;
    /* height: 100%; */
    height: calc(auto - 120px);
    display: flex;
    flex-direction: column;
    color: #456ff6;
    /* font-size: larger; */
    font-size: 20px;
    font-weight: 600;
}

.side_nav_bar_container .side_nav_bar .mulearn_brand {
    width: 100%;
    min-height: 80px;
    max-height: 100px;
    margin-top: -1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side_nav_bar_container .side_nav_bar .side_nav_bar_items {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: scroll;
}

.side_nav_bar_container .side_nav_bar .side_nav_bar_items .side_nav_bar_item {
    width: 100%;
    height: 50px;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.side_nav_bar_main_items {
    overflow-y: scroll;
}

.side_nav_bar_item :hover {
    background: #456ff6;
    color: #fff;
}

.side_nav_bar_container .side_nav_bar .side_nav_bar_items .side_nav_bar_item .side_nav_bar_item_icon {
    margin-right: 20px;
}

.right_side {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transition: 0.5s ease;
    z-index: 150;
    /* background-color: #F2F5FF; */
}

.right_side .top_nav .nav {
    padding: 20px 40px;
    /* padding-bottom: 0px; */
    background: #fff;
    position: fixed;
    width: 100vw;
    z-index: 50;
    box-shadow: 5px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.right_side .top_nav .nav .nav_items {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
}

.right_side .top_nav .nav .nav_items .greetings {
    font-size: 22px;
    color: #000;
}

.mulearn_brand2 svg {
    display: none;
}

.right_side .top_nav .nav .nav_items .menu {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.right_side .top_nav .nav .nav_items .menu .profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* margin-top: -20px; */
    cursor: pointer;
}

.main_content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: calc(100% - 160px); */
    justify-content: flex-start;
    text-align: center;
    margin-top: 16vh;
    overflow-x: hidden;
}

/* responsive */
@media screen and (min-width: 1324px) {
    .right_side .top_nav .nav {
        width: 89vw;
    }
}

@media screen and (max-width: 1324px) {
    .side_nav_bar_container {
        max-width: 35%;
    }

    .side_nav_bar_container .side_nav_bar .side_nav_bar_items .side_nav_bar_item {
        margin-bottom: 10px;
    }

    .right_side .top_nav .nav .nav_items .menu {
        width: 100px;
    }

    .right_side .top_nav .nav .nav_items .menu .profile {
        display: none;
    }
}

@media screen and (max-width: 830px) {

    .right_side .top_nav .nav .nav_items .greetings,
    .right_side .top_nav .nav .nav_items .menu svg {
        display: none;
    }

    .side_nav_bar_container {
        /* display: none; */
        opacity: 0;
    }

    .side_nav_bar_container .side_nav_bar {
        height: calc(100dvh - 90px);
    }

    .side_nav_bar_container {
        max-width: 100vw;
        width: 100vw;
        position: fixed;
        z-index: 0;
    }

    .right_side {
        z-index: 0;
    }

    .right_side .top_nav .nav {
        box-shadow: none;
    }

    .side_nav_bar_container .side_nav_bar .mulearn_brand {
        margin-top: 0rem;
    }

    .right_side .top_nav .nav .nav_items {
        justify-content: center;
    }

    .right_side .top_nav .nav .nav_items .menu {
        width: auto;
    }

    .side_nav_bar_container .side_nav_bar .side_nav_bar_items>* {
        border: 1px solid #456ff6;
        border-radius: 0px;
        border-width: 1px 0px 1px 0px;
        margin-bottom: 0px;
        padding: 20px 10px;
    }

    .mulearn_brand2 svg {
        display: block;
        width: 100px;
    }

    .menu_btn {
        display: flex;
    }

    .main_content {
        margin-top: 10vh;
    }
}

.right_side .top_nav .nav hr {
    margin-top: 20px;
}