.terms-container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  
  @media only screen and (max-width: 600px) {
    .terms-container {
      padding: 2rem;
    }
  }
  @media only screen and (min-width: 1000px) {
    .terms-container {
      padding-left: 20rem;
      padding-right: 20rem;
      padding-bottom: 10rem;
    }
  }
  
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
 
  
  @media (max-width: 767px) {
    .terms-of-service {
      font-size: 14px;
    }
  }  

