.LClandingPageNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    gap: 10vw;
    backdrop-filter:blur(30px);
}
.LClandingPageNav img{
    width: 32px;
    height: 40px;
}
.LClandingPageNav .navLinks,
.LClandingPageNav .navLinks div {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.1rem;
}

.LClandingPageNav .navLinks div {
    font-weight: 600;
    color: #00204c;
}

.LClandingPageNav .navLinks button {
    background: var(--blue);
    border-radius: var(--borderRadius);
    padding: .5rem 2rem;
    font-size: 1.1rem;
    color: #fff;
}

@media (width <=800px) {
    .LClandingPageNav {
        justify-content: space-between;
        padding: 2rem 2rem;
    }

    .LClandingPageNav .navLinks div{
        display: none;
    }

}
