h1,
h2,
h3 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 1rem;
}

.pageTitle {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75em;
}

h1 {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

ol,
ul {
    margin: 0;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

li > ol:first-child,
li > ul:first-child {
    margin-block-start: 0.6em;
}

ul > li {
    list-style: disc;
}

ul.to-do-list {
    padding-inline-start: 0;
}

ul.to-do-list > li {
    list-style: none;
}

.to-do-children-checked {
    text-decoration: line-through;
    opacity: 0.375;
}

ul.toggle > li {
    list-style: none;
}

ul {
    padding-inline-start: 1.7em;
}

ul > li {
    padding-left: 0.1em;
}

ol {
    padding-inline-start: 1.6em;
}

ol > li {
    padding-left: 0.2em;
}

.mono ol {
    padding-inline-start: 2em;
}

.mono ol > li {
    text-indent: -0.4em;
}

.toggle {
    padding-inline-start: 0em;
    list-style-type: none;
}

/* Indent toggle children */
.toggle > li > details {
    padding-left: 1.7em;
}

.toggle > li > details > summary {
    margin-left: -1.1em;
}
.pageDescription {
    margin-bottom: 2em;
}
.sans {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
        "Segoe UI Symbol";
}

@media (width<=550px) {
    .pageTitle {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 1.4rem;
        margin-top: 1.875rem;
    }

    h2 {
        font-size: 1.1rem;
        margin-top: 1.5rem;
    }

    h3 {
        font-size: 0.9rem;
        margin-top: 1.25rem;
    }

    p {
        font-size: 0.9rem;
    }

    li {
        font-size: 0.8rem;
    }
}
