@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
.mainContainer {
    height: 100vh;
    text-align: left;
}

.profileContainer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.changePasswordContainer {
    margin-top: 20px;
    text-align: left;
}

.changePasswordContainerLabel {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.changePasswordContainerTagline {
    font-size: 14px;
    color: #888888;
    margin-bottom: 20px;
    text-align: left;
}

.changePasswordInputContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.changePasswordInput {
    margin-bottom: 10px;
    text-align: left;
}

.changePasswordInputLabel {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.changePasswordInputField {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    text-align: left;
}

.wrapper form {
    width: 20rem;
}
.inputBox {
    span {
        color: red;
        font-size: small;
    }
}
.inputBox input {
    width: 100%;
    height: 100%;
    background: #f5f7fb;
    border-radius: 8px;
    border: none;
    padding: 0.5rem;
}

.forgot {
    margin-top: 2rem;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
}
.forgot p {
    color: #808192;
    cursor: pointer;
}
.forgot span {
    color: var(--black);
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    font-size: small;
}
.submit button {
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
}
.submitB {
    background: #456ff6;
    color: white;
    border: none;
}
.google {
    color: #000;
    border: 2px #d9d9db solid;
    padding: 1.2rem;
    font-size: small;
}

.noAccount {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    button {
        font-size: smaller;
        color: #000;
    }
}
.googleIcon {
    width: 1.5rem;
}

.submit {
    max-width: 20rem;
}
