.sidebarBannerSlider {
  width: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.sliderImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1/1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper:hover .sliderImage {
  transform: scale(1.005);
  opacity: 0.8;
}

.knowMoreButton {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.imageWrapper:hover .knowMoreButton {
  opacity: 1;
}
