.table_tab_container{
    display: flex;
    justify-content: space-between; 
    width: 95%;
    .table_tabs{
        display: flex;
        gap: 15px;
        .table_tab_btn{
            padding: 6px 24px;
            border-radius: 10px;
            cursor: pointer;
        }
        .active{
            background-color: #014bb2;
            color: white;
        }
        .inactive{
            border: 1px solid #014bb2;
            color: #014bb2;
        }
    }
    .org_create_btn{
        background-color: white;
        border: 1px solid #014bb2;
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 8px 24px;
        border-radius: 10px;
        cursor: pointer;
    }
}
.popup_container{
    width: 60%;
    height: max-content;
    padding: 20px;
    border: 1px solid #014bb2;
    border-radius: 8px;
    overflow: hidden;
    .popup_title{
        font-size: 20px;
        font-weight: 800;
        text-align: start;
    }
}
.popup_dropdown_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    margin: 10px 0;
    .inputfield_container{
        width: 100%;
        text-align: start;
        margin-top: 20px;
    }
}
.invisible {
    opacity: 0;
    max-height: 0; /* Adjust the value to accommodate your content */
    transition: max-height 0.3s linear;
}
.popup_top_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    i{
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        &:hover{
            background-color: #014bb21d;
        }
    }
}
.submit_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn {
	background: #014BB2;
    color: #fff;
	width: 50%;
    min-width: 200px;
    padding: 10px 20px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
	justify-content: center;
    margin-top: 1.5rem;
    font-size: 15px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

@keyframes expandHeight {
    0% {
      height: 0;
    }
    100% {
      height: max-content;
    }
  }