.tableTabContainer {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.tableTabContainer .tableTabs {
    display: flex;
    gap: 15px;
}
.tableTabContainer .tableTabs .tableTabBtn {
    padding: 6px 24px;
    border-radius: 10px;
    cursor: pointer;
}
.tableTabContainer .tableTabs .active {
    background-color: white;
    color: #5570f1;
}
.tableTabContainer .tableTabs .inactive {
    border: 1px solid white;
    color: #3d4043;
}
.tableTabContainer .orgCreateBtn {
    background-color: white;
    border: 1px solid #456ff6;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 24px;
    border-radius: 10px;
    cursor: pointer;
}

.popupContainer {
    width: min(100%, 500px);
    height: -moz-max-content;
    height: max-content;

    border: none;
    border-radius: 8px;
    z-index: 0;
    background-color: #fff;
    margin: auto;
}
.popupContainer .popupTitle {
    font-size: 20px;
    font-weight: 800;
    text-align: start;
}
.popupContainer p {
    width: 90%;
    text-align: left;
    font-size: 14px;
}
.popupContainer p span {
    font-weight: bold;
}
.popupContainer p span::after {
    content: " ";
}

.popupDropdownContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    margin: 10px 0;
    z-index: 100;
}
.popupDropdownContainer .inputFieldContainer {
    width: 100%;
    text-align: start;
    margin-top: 8px;
    box-sizing: border-box;
    align-self: end;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
}
.colspan {
    grid-column: span 3;
}

.invisible {
    opacity: 0;
    max-height: 0; /* Adjust the value to accommodate your content */
    transition: max-height 0.3s linear;
}

.popupTopContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popupTopContainer i {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.popupTopContainer i:hover {
    background-color: rgba(69, 111, 246, 0.1137254902);
}

.submitContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    width: 100%;
    padding: 8px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn p {
    text-align: center;
}
.btn .btnLoader {
    margin-left: 8px;
}

.blue-btn {
    background: #456ff6;
    color: #fff;
}

.light-btn {
    background-color: #f5f7fb;
    border: 1px solid #8c95a7;
    color: #456ff6;
}

.deleteContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.threeSpan {
    grid-column: span 3;
}

@keyframes s3 {
    100% {
        transform: rotate(1turn);
    }
}
@keyframes s3 {
    100% {
        transform: rotate(1turn);
    }
}
@media only screen and (max-width: 768px) {
    .popupContainer {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .popupDropdownContainer {
        grid-template-columns: repeat(1, 1fr);
    }
} /*# sourceMappingURL=Organizations.css.map */
