.Overview_container_head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
}

.Overview_container_head hr {
    width: 25%;
    color: blue;
}

.Overview_container_head p {
    color: #000;
    font-size: 3rem;
    font-weight: 700;
}

.WhatIsPathway_main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 8rem;
    margin: 3rem;

}

.WhatIsPathway_img img {
    width: 60%;
}

.WhatIsPathway_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.WhatIsPathway_desc {
    width: 80%;
    font-size: 1.2rem;
}

.WhatIsPathway_desc span {
    font-weight: 800;
}

@media (width<1000px) {
    .Overview_container_head p {
        font-size: 1rem;
    }

    /* .Overview_container_head hr{
        width: 7rem;
    }*/
    .Overview_container_head {
        padding: 1rem;
        gap: 1rem;

    }

    .WhatIsPathway_main {
        font-size: .8rem;
        gap: 2rem;
        padding: 1.5rem;
        margin: 0;
        padding-left: 1rem;
        padding-right: .6rem;
        flex-direction: column;

    }

    .WhatIsPathway_desc {
        width: 100%;
    }

    .WhatIsPathway_img {
        margin-left: -2rem;
    }
}