.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headertext {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #f67916;
}

.link,
.headertext {
  margin: 0.75rem;
}

.link {
  margin: 1.25rem 1rem;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
