@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: #F5F5F5;

}
.Overview_container_head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
}
.Overview_container_head hr{
    width: 25%;
    color: blue;
}
.Overview_container_head p{
    color: #000;
    font-size: 3rem;
    font-weight: 700;
}
.Overview_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}
.course{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    box-shadow: 10px 10px rgba(224, 221, 221, 0.2);
    border-radius: 8px;
    
}
.Course_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.icon{
    width: 50%;
}
.stage{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    color: red;
    font-weight: 700;
}
.desc_one span{
    font-weight: 700;

}
@media (width<1000px){
    .Overview_container_head p{
        font-size: 1rem;
    }
   /* .Overview_container_head hr{
        width: 7rem;
    }*/
    .Overview_container_head{
        padding: 1rem;
        gap: 1rem;
    }
    .Overview_desc{
        width: 100%;
        flex-direction: column;
    }
    
}