/* Scrollbar */
::-webkit-scrollbar{
    width: 10px;
    display: block;
  }
::-webkit-scrollbar-thumb {
    background: #848383; 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #6f6f6f;
  }



.mainContainer{
    max-width: 200rem;
    margin: 0 auto;
}
.title {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    display: block;
}
.mU {
    position: absolute;
    top: -30%;
    left: 20px;
    height: 150%;
    opacity: 0.5;
}

/* Scroll behavior for this specific page */
html {
    scroll-behavior: smooth;
}



