html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: block;
    width: 0.75rem;
}
::-webkit-scrollbar-track {
    background: #dae9ff;
}
::-webkit-scrollbar-thumb {
    background: #52b565;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #84cc92;
}

.main {
    max-width: 200rem;
    margin: 0 auto;
}
.title {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    display: block;
}
.mU {
    position: absolute;
    top: -30%;
    left: 20px;
    height: 150%;
    opacity: 0.5;
}
