* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  transition: all 0.3s ease-in;
  /* color: #404d61; */
}

.next_btn_row{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.onboarding_page .form_container h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.onboarding_page {
  padding: 60px;
  background-color: #e8f3f7;
}

.form_container {
  margin: auto;
  background: #ffffff;
  border: 1px solid #dde2e5;
  border-radius: 15px;
  min-height: 90vh;
  max-width: 1000px;
  padding: 50px;
  /* position: relative; */
  z-index: 10;
}

.form_container .loader_container {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  transition: all .5s ease-in;
  transform: scaleX(-1);
}

.form_container .loader {
  margin-bottom: 20px;
  animation: loader 1s infinite linear;
}

.form_container .loader_container p {
  color: #5570f2;
  transform: scaleX(-1);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.form_container .question_container {
  position: fixed;
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  /* background-color: white; */
  /* background: linear-gradient(0deg, rgb(163 163 163 / 19%), rgb(135 135 135 / 38%)), url("https://img.freepik.com/premium-vector/education-school-pattern-design_260839-1.jpg"); */
  left: 0;
  top: 0;
  z-index: 100;
  border: 1px solid #dde2e5;
  border-radius: 15px;
}

.form_container .question_container .question_box {
  /* height: 500px; */
  width: 360px;
  padding: 20px;
  background-color: white;
  /* border: 1px solid #dde2e5; */
  border-radius: 7.5px;
  position: relative;
  box-shadow: 0px 1px 14px 3px #6f6f6f42;
}

.form_container .question_container .question_box .question {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  height: auto;
}

.form_container .question_container .question_box .question h3 {
  /* background: #565656; */
  background: #6a80f0;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-radius: 7.5px 7.5px 0px 0px;
  padding: 20px;
}

.form_container .question_container .question_box .question .answers {
  margin-top: 40px;
}

.form_container .question_container .question_box .question .answers a {
  font-weight: 500;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.form_container .question_container .question_box .question .answers .verify_email button {
  width: 100%;
  background-color: #5570f1;
  padding: 10px;
  border: 1px solid #dde2e5;
  border-radius: 9px;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.form_container .question_container .question_box .question .answers button {
  width: 100%;
  /* background-color: #5570f1; */
  padding: 15px;
  border: 1px solid #dde2e5;
  border-radius: 9px;
  /* color: white; */
  margin-top: 10px;
  text-align: left;
  /* box-shadow: 0px 8px 13px 0px #54545429;*/
}

.form_container .question_container .question_box .question .answers button:hover {
  border-color: #6c82f1;
  /* color: white; */
}

.form_container .question_container .question_box .question .answers button:active {
  background-color: #6c82f1;
  color: white;
}

form {
  margin: 10px 0px;
}

form label,
.label_container {
  font-weight: 600;
  margin-top: 15px;
}

.required {
  color: red;
}

form input,
form select {
  border: none;
  background: rgba(239, 241, 249, 0.6);
  border-radius: 6px;
  padding: 10px;
  outline: none;
  width: 100%;
  margin-top: 10px;
}

select {
  text-align: left;
}

select .gender {
  color: #3180ac;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5a6474;
  opacity: 0.9;
  font-weight: 500;
  /* Firefox */
}

form .inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 10px 0px 20px 0px; */
}

.error_message {
  color: red;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 5px;
}

form .inputs .input_container {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;
}

form .inputs .input_container .password_icon {
  position: absolute;
  right: 20px;
  top: 45px;
  cursor: pointer;
  background: none;
  padding: 14px 0px;
  min-width: unset;
}

form .input_container .grouped_inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .input {
  width: 100%;
}

form .input:focus,
form select:focus {
  outline: 1px solid #2684ff;
}

form .form_buttons button,
.button {
  padding: 10px 50px;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.add_college {
  color: red;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form .form_buttons button[type="submit"],
.button {
  background-color: #5570f1;
  color: white;
}

.button:hover {
  background-color: #6c82f1;
  color: white;
}

form .form_buttons button[type="reset"] {
  background: #f6f7fb;
  color: #5570f1;
}

.aoi_container {
  margin-top: 10px;
  min-width: 100%;
}

.aoi_container label {
  cursor: pointer;
}

.aoi_container label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.aoi_container label span {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #dde2e5;
  border-radius: 10px;
  margin: 5px 5px 5px 0px;
  user-select: none;
}

.aoi_container label input[type="checkbox"]:checked~span {
  background-color: #5570f1;
  color: white;
}

/* onboarding error message */

.onboarding_page .error_msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 100vw; */
  height: 100dvh;
  margin: 0rem 2rem;
  text-align: center;
  background-color: #e8f3f7;
}

.onboarding_page .tik {
  animation: pop 0.5s ease-in-out;
}

/* success page atyles */

.success_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 100vw; */
  height: 100dvh;
  margin: 0rem 2rem;
  background-color: #e8f3f7;
}

.success_page .tik {
  animation: pop 0.5s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  /* 25% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(0);
  }

  70% {
    transform: scaleX(1);
  } */

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .onboarding_page {
    padding: 0px;
  }

  .form_container {
    max-width: 100vw;
    /* padding: 60px; */
    padding: 40px;
  }

  form .inputs .input_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form .form_buttons button {
    margin-top: 10px;
    margin-left: 0px;
  }
}

.form_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Modal Styles */

.modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.modal_content {
  background-color: #6a80f0;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

.checkbox_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input_checkbox {
  width: min-content;
  margin: 0;
  margin: 10px;
  margin-top: 12px;
  width: 1rem;
  /* height: 1rem; */
}

.form_bottom {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.validation_error_message {
  position: fixed;
  padding: 10px 50px;
  right: 30px;
  top: 30px;
  background-color: #5570f2;
  z-index: 100;
  font-size: 1rem;
  border-radius: 5px;
}

.tc_span {
  color: #6a80f0;
  text-decoration: underline;
}

.tc_text {
  max-width: 20rem;
}

.validation_error_message p {
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .form_buttons {
    width: 100%;
    justify-content: space-between;
  }
}