.onboardingHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: inherit;
    z-index: 10;
}

.onboardingHeader img {
    height: 2rem;
}

.onboardingheader p {
    margin-bottom: 3rem;
}

.onboardingHeader h1 {
    font-size: 3rem;
    font-weight: 600;
}

@media (width<=820px) {
    .onboardingHeader {
        margin-top: 5rem;
    }
    .onboardingHeader h1 {
        font-size: 2rem;
    }

    .onboardingheader p {
        font-size: 0.8rem;
    }
}
