* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}



.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: calc(100% - 160px); */
  justify-content: flex-start;
  text-align: center;
  margin-top: 16vh;
  overflow-x: hidden;
}

.main_content .profile_container {
  width: 90%;
  height: 500px;
  /* padding: 20px 30px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #f3f8ff;
  border: 1px solid #dde2e5;
  border-radius: 20px;
}

.heading {
  font-size: 2.25rem;
  font-weight: 700;
  color: #1b4bb2;
}

.tagline {
  font-size: 1.25rem;
  font-weight: 500;
  color: #1b4bb2;
}