html {
    scroll-behavior: smooth;
}
.main {
    max-width: 200rem;
    margin: 0 auto;
}

.muidSection {
    background-color: #2e85fe;
    padding: 0 5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.muidSection::before {
    display: block;
    content: "";
    width: 25rem;
    height: 32rem;
    background: url("../assets/µ_pl.svg") no-repeat;
    background-size: 100% 100%;
    opacity: 0.4;
    margin-top: -5rem;
}
.muidSection::after {
    display: block;
    content: "";
    width: 100vw;
    height: 10rem;
    background: url("../assets/wave.png") repeat-x;
    background-size: 100% 100%;
    background-origin: 50%;
    background-position: 10%;
    position: absolute;
    right: 0;
    top: 35rem;
}

.muidSectionText {
    color: #fff;
    font-size: 1.5rem;
    max-width: 40rem;
    font-weight: 300;
    margin-top: 2rem;
}
.muidSectionText::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 35rem;
    background-color: #2e85fe;
    top: 0;
    right: 0;
    z-index: -1;
}
.muidLink {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration-line: underline;
    line-height: 5rem;
}
