.createBtn {
    background: var(--Primary);
    color: var(--White);
    width: 10%;
    min-width: 100px;
    padding: 10px 20px;
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--Primary);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.createBtn:hover {
    background: var(--Blue800);
}

.createBtnContainer {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.createBtn p {
    margin-left: 10px;
}
