.table {
    border-radius: 10px;
    overflow: auto;
    width: 95%;
    margin-bottom: 10px;
    scrollbar-color: #c7c7c7 #eeeeee;
    scrollbar-width: thin;
}

.table::-webkit-scrollbar {
    display: block;
    height: 5px;
}

.table::-webkit-scrollbar-track {
    background: #eeeeee;
}

.table::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
}

.tableActual {
    width: 100%;
}

.th {
    padding: 12px 16px;
    text-align: left;
    font-weight: 600;
    color: var(--Dark);
}

.td {
    padding: 12px 16px;
    text-align: left;
    color: var(--Dark);
}

.page {
    width: 95%;
    padding: 0 10px;
}

.thContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    /*  border: 1px solid var(--Dark);*/
    border-radius: 10px;
    margin-left: 5px;
    font-size: 22px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(87, 96, 117, 0.7);
    font-size: 22px;
    gap: 8px;
}

.btns {
    background-color: var(--blue);
    color: #fff;
    border-radius: var(--borderRadius);
    padding: 4px 6px;
    font-size: 1rem;
}

/* Define alternating row colors */
.tableActual tbody tr:nth-child(even) {
    background-color: transparent;
    /* Set the background color for even rows */
}

.tableActual tbody tr:nth-child(odd) {
    background-color: var(--tableRowColor);
    /* Set the background color for odd rows */
}
