.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.inputContainer input {
    border-radius: 8px;
    background-color: #f3f3f4;
    padding: 10px;
    width: 300px;
    color: black;
}

/* .inputContainer input::placeholder {
    color: black;
} */

.inputContainer div {
    text-align: left;
}

.CheckBoxWrapperSet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.CheckBoxWrapperSet .toggle {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
	color: black;
	font-size: 18px;
	font-weight: 600;
}

.CheckBoxWrapperSet .toggle .toggle__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
	background-color: rgb(0, 0, 0);
}

.CheckBoxWrapperSet .toggle .toggleTrack {
  background: #e5efe9;
  border: 1px solid #000000;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: 30px;
  margin-right: 12px;
  position: relative;
  width: 60px;
}

.CheckBoxWrapperSet .toggle .toggleTndicator {
  align-items: center;
  background: #da1a1d;
  border-radius: 24px;
  bottom: 2px;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 2px;
  outline: solid 2px transparent;
  position: absolute;
  transition: 0.25s;
  width: 24px;
}

.CheckBoxWrapperSet .toggle .toggle__input:checked + .toggleTrack .toggleTndicator {
  background: #1f8602;
  transform: translateX(30px);
}

@media screen and (-ms-high-contrast: active) {
  .CheckBoxWrapperSet .toggle .toggleTrack {
    border-radius: 0;
  }
}