.karma_history_page{
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    width: 95%;
    margin-top: 20px;
}
.hide_chat_karma {
    display: flex;
    gap: 20px;
    margin: 10px 0px 0px 0px;
    justify-content: flex-end;
    font-size: 15px;
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 1rem 1rem 0 0;
}

.karma_history_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 204px);
    gap: 20px;
    justify-content: space-between;
    overflow-y: scroll;
    max-height: 445px;
    scroll-snap-type: y mandatory;
    background-color: #fff;
    border-radius: 0 0  1rem 1rem;
    padding: 2rem;
}
 .msg {
    padding: 10px;
    /* text-align: center; */
    font-size: 15px;
    color: #456ff6 !important;
    display: flex;
    flex-direction: column;
    font-style: italic;
    align-items: center;
  }
.karma_history_container .karma_history {
    min-height: 250px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 13px;
    /* margin: 1rem; */
    border: 1px solid #CCE2FF;
    background: #E1EDFF;
    padding: 20px 5px;
    display: flex;
    /* box-shadow: 0px 0px 6px 0px rgba(1, 75, 178, 0.15); */
    border-bottom: 5px solid #456FF6;
    justify-content: center;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.karma_history_container .karma_history:hover {
    /* transform: scale(1.01); */
    box-shadow: 0px 0px 6px 0px rgba(1, 75, 178, 0.25);
}

.karma_history_container .karma_history .karma_history_box_bg {
    position: absolute;
    left: -50px;
    z-index: 1;
}

.karma_history_container .karma_history .content {
    z-index: 2;
    text-align: center;
}

.karma_history_container .karma_history .content h1 {
    color: #014BB2;
}

.karma_history_container .karma_history .content .karma_div {
    margin-top: 20px;
    font-size: 13px;
}

.karma_history_container .karma_history .content .karma_div .task_name {
    color: #014BB2;
    font-weight: 500;
    border-radius: 2.003px;
    background: rgba(203, 225, 255, 0.50);
}

.karma_history_container .karma_history .content .date {
    margin-top: 40px;
    font-size: 12px;
}

@media (max-width: 460px) {
    .karma_history_container {
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .karma_history_container .karma_history {
        min-width: 100%;
    }
}