.createLCContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    background: #fff;
    h1 {
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        width: 100%;
        .headContent {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            height: 100%;
            padding: 20px;
            border-radius: 10px;
            background: #fff;
            /* box-shadow: 1px 1px 5px #d3ddfb; */
        }
        .formContent {
            width: 100%;
            .form {
                width: 100%;
                padding: 20px;
                border-radius: 10px;
                background: #fff;
                /* box-shadow: 1px 1px 5px #d3ddfb; */
                .submitButton {
                    margin-top: 20px;
                }
                .formGroup {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 20px;
                    width: 100%;
                    background: #fff;
                    box-shadow: 1px 1px 5px #d3ddfb;
                    border-radius: 10px;
                    padding: 10px;
                    margin-top: 10px;
                    &.horizontal {
                        justify-content: space-between;
                        flex-direction: row;
                        align-items: center;
                    }
                    label {
                        font-size: 16px;
                        font-weight: 500;
                        color: #000;
                        display: flex;
                        position: relative;
                        gap: 10px;
                        align-items: center;
                        justify-content: center;
                    }
                    .select {
                        width: 100%;
                        background: #d3ddfb;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .createLCContainer {
        .content {
            grid-template-columns: 1fr;

            .headContent {
                display: none;
            }
            .form {
                padding: 10px;
                .formGroup {
                    &.radioContainer {
                        flex-direction: column !important;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
