.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.uploadButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 10rem;
    background-color: var(--InputDefaultBackground);
    border: 3.08px dashed rgb(11, 132, 224);
    cursor: pointer;
}

.uploadButton:hover {
    background-color: rgba(12, 87, 173, 0.176);
}

.icon {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    color: var(--blue);
}

.text {
    margin: 1rem;
}

.fileInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fileInfo span {
    font-weight: bold;
}
