.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
}

.upload_button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	background-color: var(--PrimaryLight);
	border-radius: 50%;
	cursor: pointer;
}

.upload_button:hover {
	background-color: var(--InputDefaultBackground);
}

.icon {
	font-size: 4rem;
}

.text {
	margin-top: 1rem;
}

.fileInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.fileInfo span {
	font-weight: bold;
}