.campus_student_list_container {
    width: 95%;
    /* padding: 20px 30px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border: 1px solid #dde2e5;
    border-radius: 20px;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    /* box shadow is temporary change when bg is changed from white to new design */
}

.campus_student_list_container .content {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campus_student_list_container .content .sec1 {
    text-align: left;
    width: 75%;
}

.campus_student_list_container .content .sec1 .campus_code {
    background-color: #cfdef3;
    border-radius: 10px;
    padding: 5px 31px;
    width: fit-content;
    font-weight: 600;
}

/* .campus_student_list_container .content .sec1 .clg_name {
    max-width: 65%;
} */
.campus_student_list_container .content .sec1 .sec_clg {
    display: flex;
    justify-content: center;
    align-items: center;

}

.campus_student_list_container .content .sec1 h1 {
    font-size: xx-large;
    /* max-width: 60%; */
    font-weight: 600;
}

.campus_student_list_container .content .sec1 .campus_lead {
    color: black;
}

.campus_student_list_container .content .sec1 .details_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.campus_student_list_container .content .sec1 .details_card .card_one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;

}

.campus_student_list_container .content .sec1 .details_card .card {
    width: 230px;
    border-radius: 10px;
    padding: 3px 30px;
    text-align: center;
    font-weight: 900;
}

/* .campus_student_list_container .content .sec1 .details_card .card:nth-child(1) {
    color: white;
    background: #456FF6;
} */
.campus_student_list_container .card p {
    font-weight: 500;
}

.campus_student_list_container .card h1 {
    font-size: 40px !important;
    color: black;
}
.campus_student_list_container .card span {
    font-size: 10px;
    color: grey;
}

.campus_student_list_container .campus_lead_card {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    color: black;
}

.campus_student_list_container .campus_lead_card h2 {
    font-size: 20px;
}

.campus_student_list_container .campus_lead_card img {
    width: 40px;
}

.campus_student_list_container .content .sec2 {
    background-color: #eef2ff;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
}

.campus_student_list_container .content .sec2 .clg_rank {
    font-size: 100px;
    color: var(--Primary);
    font-weight: 600;
    line-height: 70px;
}

.campus_student_list_container .content .sec2 .clg_rank_overlay {
    width: 170px;
    color: black;
    font-weight: 600;
    font-size: 40px;
    /* text-align: center; */
}

.campus_student_list_container .sec2 .clg_zone {
    color: grey;
    line-height: 10px;
}

.campus_student_list_container .content .sec2 h2 {
    font-size: xx-large;
    font-weight: 600;
}

/* responsive page */

/* @media (max-width: 1420px) {
    .campus_student_list_container .content .sec1 .clg_name {
        max-width: 75%;
    }
}

@media (max-width: 1300px) {
    .campus_student_list_container .content .sec1 .clg_name {
        max-width: 85%;
    }
} */

@media (max-width: 1350px) {
    .campus_student_list_container .content .sec1 .details_card {
        gap: 10px;
    }

    .campus_student_list_container .content .sec1 .details_card .card {
        width: 165px;
        padding: 0px 12px;
        font-size: 17px;
        font-weight: 800;
    }
    
}

@media (max-width: 1155px) {
    .campus_student_list_container .content .sec1 .details_card .card {
        width: 140px;
        padding: 2px 0px;
        font-size: 15px;
        font-weight: 800;
    }

    /* .campus_student_list_container .content .sec1 .details_card .card h1 {
        font-size: 25px;
    } */
}

@media (max-width: 1035px) {
    .campus_student_list_container .content {
        flex-direction: column;
    }

    .campus_student_list_container .content .sec1 {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .campus_student_list_container .content .sec1 .clg_name {
        max-width: 100%;
    }

    .campus_student_list_container .content .sec1 .details_card {
        justify-content: center;
    }

    .campus_student_list_container .content .sec2 {
        margin-top: .7rem;
        text-align: center;
    }
    .campus_student_list_container .content .sec1 .details_card .card_one {
        width: 100%;
    }

    
}
@media (max-width:300px){
    .campus_student_list_container .content .sec1 .details_card .card_one {
        width: 80%;
    }
    .campus_student_list_container .content .sec1 .sec_clg{
        width: 90%;

    }

}

.loader_container {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    transition: all 0.5s ease-in;
}

.graphs {
    width: 95%;
    padding: 15px 0px;

    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.graphs .container {
    background-color: var(--White);
    width: 49%;
    height: 350px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    /* box shadow is temporary change when bg is changed from white to new design */
    border-radius: 20px;
}

.graphs .container h2 {
    all: revert;
    margin: 0;
    color: var(--Black);
}

@media (max-width: 1200px) {
    .graphs .container {
        width: 100%;
    }
}
