.campusCodeMulearn {
  position: absolute;
  right: calc(100% / 6);
  bottom: 6.3rem;
  font-size: 1.25rem;
}

.campusCodeYip {
  position: absolute;
  top: 11.5rem;
  font-size: 3.2rem;
  text-align: center;
}
