

.accountCreationContainer {
    margin: 1rem;
    z-index: 10;
    width: 576px;

    button {
        border-radius: 8px;
    }
}
.accountCreationInputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.accountCreationInputs input {
    background: #f3f3f4;
    border-radius: 8px;
    padding-left: 1rem;

    & + span {
        color: red;
        font-size: smaller;
        padding-left: 0.5rem;
    }
}

.accountCreationPassword {
    width: 100%;
    position: relative;
    div {
        width: 100%;
    }
    button {
        all: unset;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 24px;
        z-index: 10;
        background-color:  #f5f7fb;
        color: #d9d9d9;
        &:active {
            color: #456ff6;
        }
    }
}

.accountCreationName {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    div {
        display: flex;
        flex-direction: column;
        flex: 1;

        input {
            width: 100%;
        }
    }
}

.col_2 {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.col_2 div {
    flex: 1;
}

@media (max-width: 600px) {
    .accountCreationContainer {
        width: 90vw;
    }
    .accountCreationName {
        gap: 0.5rem;
    }
}

.accountCreationAlternative {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.accountCreationAlternative button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    gap: 0.5rem;
    width: 245px;
    font-weight: 600;
    height: 49px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    margin: 1rem 0;
}
.accountCreationAlternative div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}
.accountCreationAlternative div hr {
    width: 300px;
    height: 0.3px;
    background: #858585;
}

.accountCreationAlternative div:nth-child(2) p {
    margin-bottom: 3rem;
}

.accountCreationAlternative div:last-child p a {
    color: #456ff6;
    margin-bottom: 2rem;
}

.tnc {
    display: flex;
    align-items: start;
    vertical-align: top;
    margin-top: 1rem;
    align-items: center;
}

.tnc input {
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    display: inline-block;
    width: min-content;
    vertical-align: top;
}

.tnc p {
    display: inline-block;
}

.tnc a {
    color: #5570f1;
    text-decoration: none;
    font-weight: 600;
}

.inputBox input {
    width: 100%;
    background: #f5f7fb;
    border-radius: 8px;
    border: none;
    padding: 0.6rem;
}

.supportContainer {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-start;
}

.supportContainer a {
    margin-left: 0.25rem;
}

.supportContainer span {
    color: #456ff6;
    font-weight: 600;
}
