.accountCreationContainer{
    margin: 1rem;
    z-index: 10;
    width: 576px;

    button {
        border-radius: 8px;
    }
}
.accountCreationInputs{
   display: flex;
   flex-direction: column;
   gap: .5rem;
}

.accountCreationInputs input{
    background: #F3F3F4;
    border-radius: 8px;
    padding-left: 1rem;

    & + span {
        color: red;
        font-size: smaller;
        padding-left: .5rem;
    }
}

.accountCreationPassword{
    width: 100%;
    position: relative;
    div {
        width: 100%;
    }
    button{
        all: unset;
        position: absolute;
        right: 10px;
        top: 20px;
        width: 24px;
        z-index: 10;
        color: #D9D9D9;
        &:active{
            color: #456FF6;
        }
    }
}

.accountCreationName {
    display: flex;
    gap: 1rem;
    width: 100%;
    div {
        display: flex;
        flex-direction: column;
        flex:1;

        input {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .accountCreationContainer{
        width: 90vw;
    }
    .accountCreationName {
        flex-direction: column;
        gap: .5rem;
    }
}


.accountCreationAlternative{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.accountCreationAlternative button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    gap: 1rem;
    width: 245px;
    font-weight: 600;
    height: 49px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    margin: 1rem 0;
}
.accountCreationAlternative div{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.accountCreationAlternative div hr{
    width: 300px;
    height: 0.3px;
    background: #858585;
}

.accountCreationAlternative div:nth-child(2) p{
    margin-bottom: 3rem;
}

.accountCreationAlternative div:last-child p a {
    color:#456FF6;
    margin-bottom: 2rem;
}
