.RankCard {
    background-color: black;
    color: #fff;
    background-image: url("/src/modules/Embeds/modules/RankCard/assets/starBg.png");
    width: fit-content;
    border-radius: 2rem;
    border: 2px solid #3388FF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.RankCardDetails {
    padding: 1rem 2rem 0rem 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.ProfileDetails {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 18rem;
}

.ProfileName h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.ProfileImg {
    display: flex;
    align-items: center;
}

.ProfileImg img {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    border-radius: 100%;
    border: 7px solid #fff;
    background-color: #fff;
    overflow: hidden;
}

.Rank {
    display: flex;
    gap: 1rem;
}

.Rank div {
    text-align: center;
    border-radius: 8px;
    padding: .5rem 1rem;
    width: 6rem;
    line-height: 1.2rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.Rank div b {
    font-size: 1.3rem;
}

.Rank .karma {
    background-color: #3388FF;
    background-image: url("/src/modules/Embeds/modules/RankCard/assets/ϰ.png");
}

.Rank .muRank {
    background-color: #fff;
    color: #3388FF;
    background-image: url("/src/modules/Embeds/modules/RankCard/assets/mu.png");
}

.InterestGrp ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    font-size: .5rem;
}

.InterestGrp ul li {
    background-color: #4B4B4B;
    padding: .3rem .3rem;
    border-radius: 4px;
}

.Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Bottom p {
    font-size: 2.2rem;
    font-weight: 900;
    color: #4B4B4B;
    margin-bottom: -.7rem;
    margin-left: .2rem;
}

.Bottom img {
    height: 1.5rem;
    margin-right: 1.5rem;
}

@media (width<720px) {

    .RankCardDetails {
        padding: 1rem 1rem 0rem 1rem;
        gap: 1rem;
    }

    .ProfileDetails {
        width: 15rem;
    }

    .ProfileName h1 {
        font-size: 1.3rem;
    }

    .ProfileImg img {
        width: 6rem;
        height: 6rem;
        border: 5px solid #fff;
    }

    .Rank div {
        width: 4.8rem;
        font-size: .8rem;
    }

    .Rank div b {
        font-size: 1rem;
    }

    .InterestGrp ul {
        font-size: .4rem;
    }

    .Bottom {
        margin-top: .5rem;
    }

    .Bottom p {
        font-size: 2rem;
        margin-left: 0rem;
        margin-bottom: -.5rem;
    }

    .Bottom img {
        height: 1rem;
    }
}

@media (width<300px){

    .ProfileDetails {
        width: 10rem;
    }

    .ProfileImg img {
        width: 4rem;
        height: 4rem;
    }

    .Bottom {
        margin-top: .5rem;
    }

    .Bottom p {
        font-size: 1.5rem;
        margin-left: .5rem;
        margin-bottom: -.5rem;
    }

    .Bottom img {
        height: .8rem;
    }
} 