.RankCard {
    background-color: black;
    color: #fff;
    background-image: url("/src/modules/Embeds/modules/RankCard/assets/starBg.png");
    width: fit-content;
    border-radius: 2rem;
    border: 2px solid #3388FF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1rem;
}

.RankCardDetails {
    padding: 2rem 3rem 0rem 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.ProfileDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
}

.ProfileName h1 {
    font-size: 2rem;
    line-height: 2.1rem;
}

.ProfileName p {
    font-size: 1.5rem;
}

.ProfileImg {
    display: flex;
}

.ProfileImg img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid #fff;
    background-color: #fff;
    overflow: hidden;
}

.Rank {
    display: flex;
    gap: 1rem;
}

.Rank div {
    text-align: center;
    border-radius: 8px;
    padding: .5rem 1rem;
    width: 8rem;
    line-height: 2rem;
    font-size: 1.6rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.Rank .karma {
    background-color: #3388FF;
    background-image: url("/src/modules/Embeds/modules/RankCard/assets/ϰ.png");
}

.Rank .muRank {
    background-color: #fff;
    color: #3388FF;
    background-image: url("/src/modules/Embeds/modules/RankCard/assets/mu.png");
}

.InterestGrp ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    width: 22rem;
    font-size: .6rem;
}

.InterestGrp ul li {
    background-color: #4B4B4B;
    padding: .5rem .5rem;
    border-radius: 8px;
}

.Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Bottom p {
    font-size: 3.5rem;
    font-weight: 900;
    color: #4B4B4B;
    margin-bottom: -1rem;
    margin-left: -.1rem;
}

.Bottom img {
    height: 2rem;
    margin-right: 1.5rem;
}

@media (width<720px) {

    .RankCardDetails {
        flex-direction: column;
        gap: 1rem;
    }

    .ProfileImg {
        justify-content: center;
    }

    .ProfileImg img {
        width: 120px;
        height: 120px;
    }

    .Rank div {
        width: 100%;
    }

    .InterestGrp ul {
        width: 100%;
    }

    .Bottom {
        margin-top: .5rem;
    }

    .Bottom p {
        font-size: 2rem;
        margin-left: 0rem;
        margin-bottom: -.5rem;
    }

    .Bottom img {
        height: 1.5rem;
        margin-right: 1rem;
    }
}