.form {
    border: 2px solid var(--Primary) 29;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.155);
    height: 13rem;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.TextInputContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.TextDropdownContainer {
    padding: 8px;
}

.container {
    width: 50vw;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: var(--White);
    border-radius: 10px;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .TextInputContainer {
        grid-template-columns: 1fr;
    }
    .container {
        width: 100%;
    }
}

.text {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    width: 90%;
}

.btn {
    background: var(--Primary);
    color: var(--White);
    width: 50%;
    min-width: 200px;
    padding: 10px 20px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background: var(--btn-secondary-bg);
    color: var(--Black);
}

.createBtn {
    background: var(--White);
    color: var(--Primary);
    width: 10%;
    min-width: 100px;
    padding: 10px 20px;
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--Primary);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.createBtn:hover {
    background: var(--Primary);
    color: var(--White);
}

.createBtnContainer {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.createBtn p {
    margin-left: 10px;
}
