.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 1vw;
    gap: 3vh;
}

.wrapper .topSectionWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
}

.wrapper .topSectionWrapper .cont1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b1c1f2;
    align-items: center;
    padding-bottom: 1vh;
}
.wrapper .topSectionWrapper .cont1 > div,
.wrapper .topSectionWrapper .cont2 > div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 22px;
    color: black;
}
.wrapper .topSectionWrapper .cont1 h1 {
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.wrapper .topSectionWrapper .cont2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .topSectionWrapper .cont2 h2 {
    color: #707994;
}
.wrapper .topSectionWrapper .cont3 {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    color: black;
    gap: 20px;
}

.cardIndividualWrapper {
    display: flex;
    flex-direction: column;
    min-width: 370px;
    max-width: 400px;
    width: 40%;
    filter: drop-shadow(
        0px 2.8518195152282715px 11.407278060913086px rgba(0, 24, 99, 0.1)
    );
}
.cardIndividualWrapper .TopSet {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
.cardIndividualWrapper .TopSet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.cardIndividualWrapper .TopSet > div {
    position: absolute;
    z-index: 88;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 5%;
}

.cardIndividualWrapper .TopSet > div > div {
    display: flex;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    gap: 5px;
    align-items: center;
}
.cardIndividualWrapper .bottomSet {
    background-color: white;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    font-size: 11px;
    text-align: left;
    padding: 10px;
    align-items: end;
    color: #707994;
}

.cardIndividualWrapper .bottomSet h1 {
    font-size: 22px;
    font-weight: 700;
}
.cardIndividualWrapper .bottomSet a {
    display: flex;
    background-color: #456ff6;
    height: fit-content;
    font-size: 18px;
    color: white;
    gap: 5px;
    padding: 10px;
    border-radius: 8px;
}

.bottomSectionWrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.bottomSectionWrapper .hiddenTreaasue {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    gap: 20px;
    filter: blur(2.5px);
}
.bottomSectionWrapper .hiddenTreaasue .IndividualTreasure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-width: 200px;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.bottomSectionWrapper .hiddenTreaasue .IndividualTreasure > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.bottomSectionWrapper .hiddenTreaasue .IndividualTreasure > div > div {
    display: flex;
}

.bottomSectionWrapper .Overlapper {
    display: flex;
    position: absolute;
    z-index: 887;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(159, 170, 207, 0.4);
    height: 100%;
}
.bottomSectionWrapper .Overlapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 4vh 3vw;
    border-radius: 1vw;
    max-width: 500px;
    gap: 10px;
    color: black;
}
.bottomSectionWrapper .Overlapper a {
    background-color: #456ff6;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .bottomSectionWrapper .Overlapper div {
        padding: 30px 20px;
        border-radius: 20px;
        max-width: 350px;
    }
}
@media screen and (max-width: 500px) {
    .wrapper .topSectionWrapper .cont1 h1 {
        font-size: 20px;
    }

    .wrapper .topSectionWrapper .cont2 h2 {
        font-size: 15px;

    }
}
