@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    /* color: #404D61; */
    outline: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.css-13cymwt-control,
.css-t3ipsp-control {
    border: none !important;
    background: rgba(239, 241, 249, 0.6) !important;
    border-radius: 6px !important;
    padding: 5px;
    outline: none;
    width: 100%;
    margin-top: 10px;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --Primary: #456ff6;
    --PrimaryLight: #ccdbf0;
    --Secondary: #9719cd;
    --SecondaryGrey: #404040;
    --DarkGreyHeading: #404d61;
    --Dark: #1a1a1a;
    --Light: #f5f7f9;
    --White: #ffffff;
    --Black: #1d1d1d;
    --Blue800: #00204c;
    --InputDefaultBackground: #eff1f9;
    --Error: red;
    --btn-secondary-bg: #9fb5ef;

    --black: #293338;
    --green: #6ae586;
    --blue: #456ff6;
    --grey: #7e7e7e;
    --tableRowColor: #f6f7fe;
    --boxShadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    --borderRadius: 10px;

    --dimText: #666771;
    --lightGray: #9297aa;
    --dimBlue: #dee6ff;
    --danger: #ff7676;
}

.requiredLabel {
    &::after {
        content: "*";
        color: red;
    }
}
