@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.text-lg a:hover{
  color: black;
}
html {
  scroll-behavior: smooth;
}