* {
    transition: none;
}

.btn,
.btn_light,
.dropdown_btn {
    width: 100%;
    min-width: 230px;
    padding: 10px 20px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    letter-spacing: normal;
}

.btn_loader {
    margin-left: 18px;
}

.btn p {
    color: unset !important;
}

.btn_light {
    background-color: #ccdbf0;
    font-size: 16px;
}

.btn:hover,
.dropdown_btn:hover {
    background: #456ff6;
    color: #fff;
}

.btn_light:hover {
    background-color: #a9c8f3;
}

.btn .btn_icon,
.btn_light .btn_icon,
.dropdown_btn .btn_icon {
    margin-right: 20px;
}

/* dropdown button style */

.dropdown_btn_container .drop_view {
    width: 81%;
    margin-left: auto;
}

.dropdown_btn_container .drop_view .btn {
    min-width: unset;
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 8px;
}

.dropdown_btn_container .drop_view .btn:last-child {
    margin-bottom: 16px;
}

.dropdown_btn_container .drop_view {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.arrow_icon {
    margin-left: auto;
    transition: 0.5s ease-in-out;
}

.createBtn {
    background: var(--Primary);
    color: var(--White);
    min-width: 100px;
    padding: 10px 20px;
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--Primary);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.createBtn:hover {
    background: var(--blue);
}

.createBtnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.createBtn p {
    margin-left: 10px;
}

@media screen and (max-width: 830px) {
    .btn,
    .btn_light,
    .dropdown_btn {
        margin-bottom: 0px;
    }
}

.powerfullButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
