* {
    transition: none;
}

.btn,
.btn_light,
.dropdown_btn {
    width: 100%;
    height: 44px;
    /* min-width: 170px; */
    padding: 6px 20px;
    display: flex;
    border-radius: 12px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    letter-spacing: normal;
    color: var(--lightGray);
}


.btn_loader {
    margin-left: 18px;
}

.btn p {
    color: unset !important;
}

.btn_light {
    background-color: #ccdbf0;
    font-size: 16px;
}

.btn:hover,
.dropdown_btn:hover {
    background: var(--dimBlue);
    color: #5570f1;
}

.btn_light:hover {
    background-color: #a9c8f3;
}

.btn .btn_icon,
.btn_light .btn_icon,
.dropdown_btn .btn_icon {
    margin-right: 20px;
    padding: 0;
    margin-bottom: 0;
    width: 20px;
    font-size: 20px;
}

/* dropdown button style */

.dropdown_btn_container .drop_view {
    width: 90%;
    margin-left: auto;
}

.dropdown_btn_container .drop_view .btn {
    min-width: unset;
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 8px;
}

.dropdown_btn_container .drop_view .btn:last-child {
    margin-bottom: 16px;
}

.dropdown_btn_container .drop_view {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.arrow_icon {
    margin-left: auto;
    transition: 0.3s ease-in-out;
}

.createBtn {
    background: var(--Primary);
    color: var(--White);
    min-width: 100px;
    padding: 10px 20px;
    display: flex;
    border-radius: 7px;
    border: 1px solid var(--Primary);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.createBtn:hover {
    background: var(--blue);
}

.createBtnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.createBtn p {
    margin-left: 10px;
}

@media screen and (max-width: 830px) {
    /* .btn,
    .btn_light,
    .dropdown_btn {
        margin-bottom: 0px;
    } */
}

.powerfullButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    --primary-btn-color: 230, 85%, 64%;
    --primary-hover: 215, 100%, 15%;

    --dratf-btn-color: 227, 12%, 62%;

    --secondary-btn-color: 225, 100%, 94%;
    --white: 0, 0%, 100%;

    --destructive-btn-color: 0, 93%, 62%;
    --destructive-hover: 0, 80%, 83%;

    --success-btn-color: 149, 39%, 48%;

    --rounded-btn: 12px;
    --border-btn: 2px solid;
    --transition-speed: 0.3s;
    --padding-btn: 5px 20px;
}

.common-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: var(--rounded-btn);
    border: var(--border-btn) transparent;
    font-weight: 500;
    font-size: 17px;
    padding: 6px 15px;
    transition: var(--transition-speed);
	width: 100%;
	
    &:hover {
        cursor: pointer;
    }

    &:focus-within {
        outline: 1px solid hsl(var(--primary-btn-color));
        outline-offset: 2px;
    }

    &:disabled,
    &[aria-disabled="true"] {
        opacity: 50%;
        cursor: no-drop;
        pointer-events: none;
    }

    & > span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}

.primary-btn {
    background-color: hsl(var(--primary-btn-color));
    color: hsl(var(--white));
    &:hover {
        background-color: hsl(var(--primary-hover));
    }
}
.draft-btn {
    background-color: hsl(var(--dratf-btn-color));
    color: hsl(var(--white));
    &:hover {
        background-color: hsl(var(--primary-hover));
    }
}
.secondary-btn {
    background-color: hsl(var(--secondary-btn-color));
    color: hsl(var(--primary-btn-color));

    &:hover {
        background-color: hsl(var(--primary-hover));
        color: hsl(var(--white));
    }
}

.destructive-btn {
    background-color: hsl(var(--destructive-btn-color));
    color: hsl(var(--white));
    border-color: hsl(var(--destructive-btn-color));

    &:hover {
        opacity: 50%;
    }
}

.outline-btn {
    color: hsl(var(--primary-btn-color));
    border-color: hsl(var(--primary-btn-color));

    &:hover {
        background-color: hsl(var(--primary-btn-color));
        color: hsl(var(--white));
    }
}

.ghost-btn {
    color: hsl(var(--primary-btn-color));
    outline-offset: 0px!important;

    &:hover {
        background-color: hsl(var(--secondary-btn-color));
    }
}

.success-btn {
    background-color: hsl(var(--success-btn-color));

    &:hover {
        opacity: 50%;
    }
}

.link-btn {
    color: hsl(var(--primary-btn-color));

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
}
