.table {
    border-radius: 10px;
    overflow: auto;
    min-width: fit-content;
    margin-bottom: 10px;
    scrollbar-color: #c7c7c7 #eeeeee;
    scrollbar-width: thin;
    background-color: var(--White);
    padding: 5px;
    color: black;
}

.table::-webkit-scrollbar {
    display: block;
    height: 5px;
}

.table::-webkit-scrollbar-track {
    background: #eeeeee;
}

.table::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
}

.thContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px;
}

.table tr td {
    padding: 5px;
}

/* Define alternating row colors */
.tableActual tbody tr:nth-child(even) {
    background-color: transparent;
    /* Set the background color for even rows */
}

.tableActual tbody tr:nth-child(odd) {
    background-color: var(--tableRowColor);
    /* Set the background color for odd rows */
}
