.Overview_container_head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
}

.Overview_container_head hr {
    width: 25%;
    background-color: #1C1CF0;
    height: .25rem;
}

.Overview_container_head p {
    color: #000;
    font-size: 3rem;
    font-weight: 700;
    width: max-content;
}

.Overview_desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    width: 50%;
}

.Overview_desc .course {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    border-radius: .5rem;
}

.Course_desc {
    display: flex;
    gap: .5rem;
}

.stage {
    color: #E4311C;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: .5rem;
}

@media (width<1000px) {
    .Overview_container_head p {
        font-size: 1rem;
    }

    .Overview_container_head {
        padding: 1rem;
        gap: 1rem;
    }

    .Overview_desc {
        width: 100%;
        flex-direction: column;
    }

}