.rolepageConatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: inherit;
}
.rolepageConatiner button{
    margin-top: 3rem;
    width: 465px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #456FF6;
    color: #fff;
}
.rolepageCards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;    
}
.rolepageCards .rolepageCard{
    width: 215px;
    height: 150px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 17.65823px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;

}
.rolepageCards .rolepageCard:hover{
    border: 1.177px solid #456FF6
}
.rolepageCard div{
    display: flex;
}

@media(width<500px){
    .rolepageConatiner button{
     width: 200px;
     margin-bottom: 5rem;
    }
    .rolepageCards{
        grid-template-columns: 1fr;
        margin-top: 1.5rem;
    }
    .rolepageCards .rolepageCard{
        width: 300px;
    }
}

@media(width<300px){
    .rolepageCards .rolepageCard{
        width: 200px;
        font-size: .65rem;
    }
}