.Template{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    overflow-x: scroll;
}
@media(width<500px){
    .Template{
        height: fit-content;
    }
}