@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.first__section {
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.fstexts {
  text-align: center;
  width: 100%;
}

.fsheading {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #303030;
}

.fstagline {
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.fsillustration {
  width: 40vh;
}

.second__section {
  margin: 2rem 2rem 0;
}

.ssheading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.second_section {
  margin: 2rem;
}

@media only screen and (min-width: 1000px) {

  .fsheading {
    font-family: "Noto Sans", sans-serif;
    font-size: 4.55rem;
    line-height: 5rem;
    font-weight: 600;
  }

  .fstagline {
    font-size: 1.1rem;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
  }

  .first__section {
    max-width: 1300px;
    margin: auto;
  }

  .second_section {
    max-width: 1300px;
    margin: auto;
    margin-top: 3rem;
  }
}

.ssvheading {
  font-size: 1.75rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

@media only screen and (min-width: 1000px) {
  .ssheading {
    font-size: 2.25rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
  }
}

/* Cards Styling */

.opportunity {
  display: flex;
  align-items: center;
  min-width: 20rem;
  border: 1.5px solid #666666;
  border-radius: 5px;
  padding: 0.75rem;
  margin-top: 1rem;
}

.company_logo {
  width: 4rem;
}

.op_texts {
  margin-left: 1rem;
}

.op_header {
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.op_duration {
  font-family: "Poppins", sans-serif;
  margin-top: 0.5rem;
  font-size: 0.95rem;
}

.op_duration span {
  display: block;
  font-weight: 600;
}

.op_buttons {
  margin-top: 1rem;
}

.op_jobdescription {
  margin: 0.25rem 0;
  background-color: #404040;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

.op_applynow {
  margin: 0.25rem 0.25rem;
  color: #404040;
  border: 1.5px solid #303030;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

@media only screen and (min-width: 1000px) {
  .op_duration {
    font-size: 1.1rem;
  }

  .company_logo {
    width: 4rem;
    margin: 0 1rem;
  }

  .opportunity{
    margin: 0.5rem;
  }

  .opportunities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
