@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.first__section {
  padding: 1rem 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.fstexts {
  text-align: center;
  width: 100%;
}

.fsheading {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #303030;
  margin-top: -2rem;
}

.fstagline {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.fsillustration {
  height: 50vh;
}

.second__section {
  margin: 2rem 2rem 0;
}

.ssheading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0rem;
  text-align: center;
}

.ssheadingtagline {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.ssheadingposttagline {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.ssheadingspan {
  color: #f9514c;
}

.second_section {
  margin: 1rem;
}

@media only screen and (min-width: 1000px) {
  .fsheading {
    font-family: "Noto Sans", sans-serif;
    font-size: 4.55rem;
    line-height: 5rem;
    font-weight: 600;
  }

  .ssheadingtagline {
    width: 75%;
    font-size: 1.1rem;
    display: block;
    margin: auto;
    margin-bottom: 0.75rem;
  }

  .ssheadingposttagline {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;

    width: 60%;
    display: block;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }

  .fstagline {
    font-size: 1.1rem;
    width: 60%;
    margin: auto;
  }

  .first__section {
    max-width: 1300px;
    margin: auto;
    margin-bottom: 2rem;
  }
}

.op_jobdescription {
  margin: 0.25rem 0;
  background-color: #f9514c;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1300px) {
  .second_section {
    max-width: 1300px;
    margin: auto;
    margin-top: 3rem;
  }
}

.ssvheading {
  font-size: 1.75rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  color: #404040;
}

@media only screen and (min-width: 1000px) {
  .ssheading {
    font-size: 2.25rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    margin-left: 1rem;
  }

  .op_jobdescription {
    margin: 0.25rem 0;
    background-color: #f9514c;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    margin-left: 1rem;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .opportunities {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    row-gap: 1rem;
  }
}

.closedcareerscontainer {
  margin-top: 2rem;
}
