* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.rightDash h1 {
  font-size: 25px;
  font-weight: 700;
  color: #000;
}

.rightDash h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.rightDash h3 {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.rightDash p {
  color: #7A7A7A;
}

.rightDash {
  position: relative;
  width: 95%;
  text-align: left;
  margin-bottom: 40px;
  margin-top: -40px;
  /* overflow-x: hidden; */
  /* left: 20%; */

  display: flex;
  justify-content: center;
}

.rightDash .share_pop_up_container {
  position: fixed;
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  display: flex;
  /* transition: .5s ease; */
  transform: scale(0);
}

.rightDash .share_pop_up_container .share_pop_up {
  margin: auto;
  height: auto;
  width: 530px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px #8c8c8c47;
  position: relative;
}

.rightDash .share_pop_up_container .share_pop_up .close_btn {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #999;
  font-size: 20px;
  cursor: pointer;
}

.rightDash .share_pop_up_container .share_pop_up .share_pop_up_contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 10px solid;
}

.rightDash .share_pop_up_container .share_pop_up .share_pop_up_contents .profile_state {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightDash .share_pop_up_container .share_pop_up .share_pop_up_contents .profile_state .options {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

.rightDash .share_pop_up_container .share_pop_up .share_pop_up_contents .profile_state .options p {
  background: #5570f1;
  color: white;
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.rightDash .share_pop_up_container .share_pop_up .share_pop_up_contents .link {
  width: 100%;
  background: #5570f124;
  padding: 20px;
  border-radius: 50px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.rightDash .share_pop_up_container .share_pop_up .share_pop_up_contents .share_options {
  margin-top: 40px;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  gap: 20px;
}

.rightDash .share_pop_up_container .share_pop_up .share_pop_up_contents .share_options p {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 40px;
  text-align: center;
  margin: auto;
  /* background: darkgrey; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightDash .share_pop_up_container .share_pop_up .share_pop_up_contents .share_options p i {
  height: 55px;
  cursor: pointer;
}

.rightDash .loader_container {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  transition: all .5s ease-in;
  transform: scaleX(-1);
}

.rightDash .loader_container p {
  color: #5570f2;
  transform: scaleX(-1);
}

.rightDash .profileDash {
  position: relative;
  top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.rightDash .profileDash .profile {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.rightDash .profileDash .profile .profile_div {
  background: #FFFFFF;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 0px;
  margin-bottom: 20px;
}

.rightDash .profileDash .profile .banner {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 10rem;
  width: 100%;
  /* background-color: #A0C8FF; */
  background-image: url(../assets/images/profile_banner.webp);
  background-position: bottom;
  position: relative;
  background-size: cover;
  position: relative;
}

.rightDash .profileDash .profile .banner .member_since {
  position: absolute;
  right: -35px;
  bottom: 10px;
}

.rightDash .profileDash .profile .banner .member_since p {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.rightDash .profileDash .profile .banner i {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  color: transparent;
  -webkit-text-stroke: #fff 1px;
}

.rightDash .profileDash .profile .profileInfo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: -3.5rem;
}

.rightDash .profileDash .profile .profileInfo .profilePic {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.rightDash .profileDash .profile .profileInfo .profilePic img {
  border-radius: 100%;
  border: 5px solid #fff;
  width: 10rem;
  margin-left: 2rem;
  margin-top: -25px;
}

.rightDash .profileDash .profile .profileInfo .profilePic .name {
  margin-top: 40px;
}

.rightDash .profileDash .profile .profileInfo .share_btn {
  cursor: pointer;
  padding: 0px 20px;
}

.rightDash .profileDash .profile .profileInfo button {
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-top: 5rem;
  padding: .5rem 1rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  background-color: #456FF6;
  color: #fff;
}

.rightDash .profileDash .profile .profileList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  justify-content: flex-start;
  margin-top: -1rem;
  padding: 0px 15px;
}

.rightDash .profileDash .profile .profileList .underline {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 2rem;
  height: 3.5px;
  background-color: #456FF6;
  transition: all .5s ease-in-out;
}

.rightDash .profileDash .profile .profileList li:first-child {
  font-weight: 600;
  color: #000;
}

.rightDash .profileDash .profile .profileList li {
  color: #7A7A7A;
  font-weight: 600;
  cursor: pointer;
}

.rightDash .profileDash .profile .pointsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 5rem;
  margin: 2rem 0;
  justify-content: flex-start;
  padding: 0px 15px;
}

.rightDash .profileDash .profile .pointsList .points {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-weight: 600;
}

.rightDash .profileDash .profile .interestGrp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 10px 15px;
}

.rightDash .profileDash .profile .interestGrp .igs_container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
  list-style: none;
  gap: 20px;
  justify-content: flex-start;
  max-width: 50vw;
  /* overflow: scroll; */
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs {
  padding: 0px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  min-height: 50px;
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs p {
  padding: 5px;
  width: 50px;
  border-radius: 8px;
  margin-left: 10px;
  text-align: center;
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs:nth-child(1) {
  background-color: rgb(255, 187, 89, .3);
  color: #D18E2C;
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs:nth-child(1) p {
  background-color: rgb(255, 187, 89, .9);
  color: #FFF4E4;
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs:nth-child(2) {
  background-color: rgb(255, 134, 152, .3);
  color: #FC7F92;
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs:nth-child(2) p {
  background-color: rgb(255, 134, 152, .9);
  color: #FFF4E4;
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs:nth-child(3) {
  background-color: rgb(34, 179, 210, .3);
  color: #22B3D2;
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs:nth-child(3) p {
  background-color: rgb(34, 179, 210, .9);
  color: #FFF4E4;
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs:nth-child(4) {
  background-color: rgb(45, 206, 137, .3);
  color: #2DCE89;
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs:nth-child(4) p {
  background-color: rgb(45, 206, 137, .9);
  color: #FFF4E4;

}

.rightDash .profileDash .profile .interestGrp .igs_container .igs:nth-child(5) {
  background-color: rgb(255, 0, 0, .3);
  color: #2DCE89;
}

.rightDash .profileDash .profile .interestGrp .igs_container .igs:nth-child(5) p {
  background-color: rgb(255, 0, 0, .9);
  color: #FFF4E4;

}

.rightDash .profileDash .profile .heatmap {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  max-width: 770px;
  width: 90vw;
  overflow: scroll;
  background: #FFFFFF;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 10px 5px;
}

/* leaderBoard and Recent Activity CSS Below */

.rightDash .profileDash .notification {
  width: 32%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rightDash .profileDash .notification .existing_roles {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.rightDash .profileDash .notification .existing_roles p {
  margin-left: 10px;
  color: #456FF6;
}

.rightDash .profileDash .notification .existing_roles .head {
  /* margin-bottom: 15px; */
  background: #FFFFFF;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 30px;
}

.rightDash .profileDash .notification .existing_roles .pie_chart {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.rightDash .profileDash .notification .existing_roles .pie_chart .data_details p {
  color: #000;
  font-size: 10px;
}

.rightDash .profileDash .notification .existing_roles .pie_chart .data_details .data_details_list {
  display: flex;
  align-items: center;
}

.rightDash .profileDash .notification .existing_roles .pie_chart .data_details span {
  width: 10px;
  height: 10px;
  background-color: #456FF6;
  border-radius: 50%;
  display: block;
}

.rightDash .profileDash .notification .recent_activity_container {
  background: #FFFFFF;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 10px 0px;
}

.rightDash .profileDash .notification .recent_activity_container .data_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 400px;
  overflow: hidden;
  padding: 10px 0px;

  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
}

.rightDash .profileDash .notification .recent_activity_container .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  margin-bottom: 20px;
}

.rightDash .profileDash .notification .recent_activity_container .head .btns {
  width: 3rem;
  height: 3rem;
  display: inline;
  border-radius: 50%;
  border: none;
  margin-left: -1.5rem;
  background-color: #7A7A7A;
}

.rightDash .profileDash .notification .recent_activity_container .head .btns:nth-child(3) {
  z-index: -1;
}

.rightDash .profileDash .notification .recent_activity_container .card {
  border-radius: 20px;
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  margin: 0 1rem;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: 600;

  scroll-snap-align: start;
}

.rightDash .profileDash .notification .recent_activity_container .card img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 100%;
}

.rightDash .profileDash .notification .recent_activity_container .card .cardInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rightDash .profileDash .notification .recent_activity_container .card .cardInfo p {
  font-size: .9rem;
}

.rightDash .profileDash .notification .recent_activity_container .card .cardInfo p:nth-child(2) {
  font-size: .7rem;
}

.rightDash .profileDash .notification .recent_activity_container .card .cardInfo .card_icon {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background: linear-gradient(133.8deg, #2E85FE -8.97%, #AF2EE6 91.41%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightDash .profileDash .notification .recent_activity_container .card .cardInfo .card_icon svg path {
  fill: "#fff";
}

.private_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 100dvh;
  color: #014BB2;
}


/* responvice CSS */

@media (min-width: 1800px) {
  .rightDash .profileDash .profile .heatmap {
    max-width: unset;
    width: unset;
  }
}

@media (max-width: 1490px) {
  .rightDash .profileDash .profile {
    width: 100%;
  }

  .rightDash .profileDash .notification {
    flex-direction: row;
    width: 100%;
  }

  .rightDash .profileDash .notification .existing_roles {
    min-width: 50%;
  }

}

@media (max-width: 980px) {

  .rightDash .profileDash .profile .heatmap {
    max-width: unset;
    width: unset;
  }
}

@media (max-width: 800px) {
  .rightDash {
    width: 100%;
  }

  .rightDash .profileDash {
    margin-left: 0rem;
    justify-content: center;
    /* width: 80%; */
  }

  .rightDash .profileDash .profile .interestGrp .igs_container {
    max-width: 90vw;
  }
}

@media (max-width: 600px) {
  .rightDash .profileDash .notification {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .rightDash .profileDash .profile .banner .member_since {
    right: 5px;
  }

  .rightDash .profileDash .profile .banner .member_since div svg {
    margin-left: 43px;
    width: 50px;
  }

  .rightDash .profileDash .profile .banner .member_since p {
    font-size: 10px;
    line-height: 0px;
  }

  .rightDash .profileDash .profile .profileInfo .profilePic .name {
    margin-top: 0px;
    text-align: center;
  }

  .rightDash .profileDash .profile .profileInfo .profilePic img {
    margin-left: 0rem;
  }

  .rightDash .profileDash .profile .profileInfo .profilePic {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .rightDash .profileDash .profile .pointsList {
    gap: 1rem 5rem;
    width: 90vw;
    flex-direction: row;
    justify-content: center;
  }

  .rightDash .profileDash .profile .interestGrp .igs_container {
    max-width: 90vw;
  }
}

@media (max-width: 380px) {
  .rightDash .profileDash .profile .profileInfo .profilePic img {
    width: 120px;
  }

  .rightDash .profileDash .profile .profileInfo .profilePic .name {
    margin-top: -10px;
    font-size: 15px;
  }
}